### 상관관계 확인

In [41]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')
df01 = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')

In [3]:
df_died = df[df['Transported']==0]

In [44]:
# # Cabin_port
# df_died.groupby('Cabin_port').count()
# df.groupby('Cabin_port').count()
# # HomePlanet
# df_died.groupby('HomePlanet').count()
# df.groupby('HomePlanet').count()
# # CryoSleep
# df_died.groupby('CryoSleep').count()
# df.groupby('CryoSleep').count()
# # Cabin
df_died.groupby('Cabin').count()
df.groupby('Cabin').count()

len(df_died.groupby('Cabin'))

,PassengerId,HomePlanet,CryoSleep,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
Cabin,,,,,,,,,,,,,,,
0,129,129,129,129,129,129,129,129,129,129,129,129,129,125,129
1,207,207,207,207,207,207,207,207,207,207,207,207,207,203,207
2,239,239,239,239,239,239,239,239,239,239,239,239,239,234,239
3,282,282,282,282,282,282,282,282,282,282,282,282,282,278,282
4,630,630,630,630,630,630,630,630,630,630,630,630,630,614,630
5,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583,1541,1583
6,1240,1240,1240,1240,1240,1240,1240,1240,1240,1240,1240,1240,1240,1217,1240
7,5,5,5,5,5,5,5,5,5,5,5,5,5,4,5

,PassengerId,HomePlanet,CryoSleep,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
Cabin,,,,,,,,,,,,,,,
0,256,256,256,256,256,256,256,256,256,256,256,256,256,249,256
1,779,779,779,779,779,779,779,779,779,779,779,779,779,763,779
2,747,747,747,747,747,747,747,747,747,747,747,747,747,733,747
3,495,495,495,495,495,495,495,495,495,495,495,495,495,485,495
4,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1025,1005,1025
5,2821,2821,2821,2821,2821,2821,2821,2821,2821,2821,2821,2821,2821,2747,2821
6,2564,2564,2564,2564,2564,2564,2564,2564,2564,2564,2564,2564,2564,2506,2564
7,6,6,6,6,6,6,6,6,6,6,6,6,6,5,6

8

In [54]:
df_died.groupby('Cabin_num').count()['PassengerId'][354]

3

In [5]:
# 비율 확인

def died_persent(column_name):
    
    for i in range(len(df_died.groupby(column_name))):
        try:
            df_d0 = df_died.groupby(column_name).count()['PassengerId'][i] 
            df_0 = df.groupby(column_name).count()['PassengerId'][i]  
            print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
        except:
            pass

died_persent('Cabin_num')

Cabin_num 0 : 전체 22 중 14명 63.64% 실종
Cabin_num 1 : 전체 15 중 5명 33.33% 실종
Cabin_num 2 : 전체 11 중 6명 54.55% 실종
Cabin_num 3 : 전체 16 중 5명 31.25% 실종
Cabin_num 4 : 전체 7 중 5명 71.43% 실종
Cabin_num 5 : 전체 13 중 6명 46.15% 실종
Cabin_num 6 : 전체 12 중 8명 66.67% 실종
Cabin_num 7 : 전체 9 중 3명 33.33% 실종
Cabin_num 8 : 전체 13 중 7명 53.85% 실종
Cabin_num 9 : 전체 16 중 4명 25.0% 실종
Cabin_num 10 : 전체 14 중 8명 57.14% 실종
Cabin_num 11 : 전체 19 중 8명 42.11% 실종
Cabin_num 12 : 전체 5 중 2명 40.0% 실종
Cabin_num 13 : 전체 16 중 13명 81.25% 실종
Cabin_num 14 : 전체 17 중 5명 29.41% 실종
Cabin_num 15 : 전체 10 중 3명 30.0% 실종
Cabin_num 16 : 전체 17 중 3명 17.65% 실종
Cabin_num 17 : 전체 8 중 6명 75.0% 실종
Cabin_num 18 : 전체 18 중 6명 33.33% 실종
Cabin_num 19 : 전체 22 중 9명 40.91% 실종
Cabin_num 20 : 전체 15 중 9명 60.0% 실종
Cabin_num 21 : 전체 27 중 17명 62.96% 실종
Cabin_num 22 : 전체 15 중 11명 73.33% 실종
Cabin_num 23 : 전체 16 중 10명 62.5% 실종
Cabin_num 24 : 전체 16 중 7명 43.75% 실종
Cabin_num 25 : 전체 15 중 6명 40.0% 실종
Cabin_num 26 : 전체 10 중 1명 10.0% 실종
Cabin_num 27 : 전체 17 중 9명 52.94% 실종
Cabin_num 28 : 전체 11 중 5명 45.45% 실종
Cabin_num 29 : 전체 12 중 8명 66.67% 실종
Cabin_num 30 : 전체 10 중 5명 50.0% 실종
Cabin_num 31 : 전체 9 중 5명 55.56% 실종
Cabin_num 32 : 전체 13 중 7명 53.85% 실종
Cabin_num 33 : 전체 6 중 4명 66.67% 실종
Cabin_num 34 : 전체 4 중 3명 75.0% 실종
Cabin_num 35 : 전체 17 중 9명 52.94% 실종
Cabin_num 36 : 전체 9 중 3명 33.33% 실종
Cabin_num 37 : 전체 14 중 7명 50.0% 실종
Cabin_num 38 : 전체 14 중 6명 42.86% 실종
Cabin_num 39 : 전체 10 중 4명 40.0% 실종
Cabin_num 40 : 전체 5 중 3명 60.0% 실종
Cabin_num 41 : 전체 11 중 4명 36.36% 실종
Cabin_num 42 : 전체 18 중 9명 50.0% 실종
Cabin_num 43 : 전체 15 중 7명 46.67% 실종
Cabin_num 44 : 전체 17 중 12명 70.59% 실종
Cabin_num 45 : 전체 9 중 5명 55.56% 실종
Cabin_num 46 : 전체 14 중 5명 35.71% 실종
Cabin_num 47 : 전체 14 중 6명 42.86% 실종
Cabin_num 48 : 전체 12 중 6명 50.0% 실종
Cabin_num 49 : 전체 11 중 4명 36.36% 실종
Cabin_num 50 : 전체 17 중 3명 17.65% 실종
Cabin_num 51 : 전체 12 중 11명 91.67% 실종
Cabin_num 52 : 전체 8 중 4명 50.0% 실종
Cabin_num 53 : 전체 17 중 10명 58.82% 실종
Cabin_num 54 : 전체 13 중 8명 61.54% 실종
Cabin_num 55 : 전체 14 중 8명 57.14% 실종
Cabin_num 56 : 전체 21 중 6명 28.57% 실종
Cabin_num 57 : 전체 16 중 9명 56.25% 실종
Cabin_num 58 : 전체 12 중 6명 50.0% 실종
Cabin_num 59 : 전체 17 중 5명 29.41% 실종
Cabin_num 60 : 전체 16 중 11명 68.75% 실종
Cabin_num 61 : 전체 13 중 5명 38.46% 실종
Cabin_num 62 : 전체 14 중 6명 42.86% 실종
Cabin_num 63 : 전체 15 중 6명 40.0% 실종
Cabin_num 64 : 전체 11 중 6명 54.55% 실종
Cabin_num 65 : 전체 19 중 7명 36.84% 실종
Cabin_num 66 : 전체 12 중 7명 58.33% 실종
Cabin_num 67 : 전체 13 중 6명 46.15% 실종
Cabin_num 68 : 전체 15 중 4명 26.67% 실종
Cabin_num 69 : 전체 8 중 5명 62.5% 실종
Cabin_num 70 : 전체 8 중 2명 25.0% 실종
Cabin_num 71 : 전체 17 중 5명 29.41% 실종
Cabin_num 72 : 전체 16 중 7명 43.75% 실종
Cabin_num 73 : 전체 9 중 3명 33.33% 실종
Cabin_num 74 : 전체 12 중 7명 58.33% 실종
Cabin_num 75 : 전체 17 중 6명 35.29% 실종
Cabin_num 76 : 전체 11 중 7명 63.64% 실종
Cabin_num 77 : 전체 11 중 7명 63.64% 실종
Cabin_num 78 : 전체 14 중 6명 42.86% 실종
Cabin_num 79 : 전체 10 중 8명 80.0% 실종
Cabin_num 80 : 전체 14 중 8명 57.14% 실종
Cabin_num 81 : 전체 13 중 9명 69.23% 실종
Cabin_num 82 : 전체 28 중 11명 39.29% 실종
Cabin_num 83 : 전체 16 중 9명 56.25% 실종
Cabin_num 84 : 전체 8 중 3명 37.5% 실종
Cabin_num 85 : 전체 12 중 5명 41.67% 실종
Cabin_num 86 : 전체 22 중 9명 40.91% 실종
Cabin_num 87 : 전체 10 중 4명 40.0% 실종
Cabin_num 88 : 전체 11 중 6명 54.55% 실종
Cabin_num 89 : 전체 13 중 8명 61.54% 실종
Cabin_num 90 : 전체 23 중 16명 69.57% 실종
Cabin_num 91 : 전체 18 중 9명 50.0% 실종
Cabin_num 92 : 전체 13 중 6명 46.15% 실종
Cabin_num 93 : 전체 9 중 3명 33.33% 실종
Cabin_num 94 : 전체 14 중 6명 42.86% 실종
Cabin_num 95 : 전체 17 중 8명 47.06% 실종
Cabin_num 96 : 전체 16 중 7명 43.75% 실종
Cabin_num 97 : 전체 21 중 8명 38.1% 실종
Cabin_num 98 : 전체 11 중 7명 63.64% 실종
Cabin_num 99 : 전체 13 중 3명 23.08% 실종
Cabin_num 100 : 전체 12 중 5명 41.67% 실종
Cabin_num 101 : 전체 12 중 6명 50.0% 실종
Cabin_num 102 : 전체 13 중 8명 61.54% 실종
Cabin_num 103 : 전체 18 중 9명 50.0% 실종
Cabin_num 104 : 전체 9 중 6명 66.67% 실종
Cabin_num 105 : 전체 13 중 7명 53.85% 실종
Cabin_num 106 : 전체 7 중 3명 42.86% 실종
Cabin_num 107 : 전체 14 중 5명 35.71% 실종
Cabin_num 108 : 전체 6 중 4명 66.67% 실종
Cabin_num 109 : 전체 19 중 7명 36.84% 실종
Cabin_num 110 : 전체 11 중 4명 36.36% 실종
Cabin_num 111 : 전체 9 중 4명 44.44% 실종
Cabin_num 112 : 전체 9 중 7명 77.78% 실종
Cabin_num 113 : 전체 10 중 3명 30.0% 실종
Cabin_num 114 : 전체 8 중 7명 87.5% 실종
Cabin_num 115 : 전체 14 중 8명 57.14% 실종
Cabin_num 116 : 전체 12 중 5명 41.67% 실종
Cabin_num 117 : 전체 14 중 7명 50.0% 실종
Cabin_num 118 : 전체 18 중 8명 44.44% 실종
Cabin_num 119 : 전체 11 중 5명 45.45% 실종
Cabin_num 120 : 전체 15 중 5명 33.33% 실종
Cabin_num 121 : 전체 15 중 5명 33.33% 실종
Cabin_num 122 : 전체 12 중 3명 25.0% 실종
Cabin_num 123 : 전체 19 중 5명 26.32% 실종
Cabin_num 124 : 전체 15 중 7명 46.67% 실종
Cabin_num 125 : 전체 17 중 7명 41.18% 실종
Cabin_num 126 : 전체 11 중 7명 63.64% 실종
Cabin_num 127 : 전체 13 중 5명 38.46% 실종
Cabin_num 128 : 전체 7 중 5명 71.43% 실종
Cabin_num 129 : 전체 13 중 7명 53.85% 실종
Cabin_num 130 : 전체 10 중 4명 40.0% 실종
Cabin_num 131 : 전체 9 중 3명 33.33% 실종
Cabin_num 132 : 전체 9 중 2명 22.22% 실종
Cabin_num 133 : 전체 16 중 2명 12.5% 실종
Cabin_num 134 : 전체 11 중 5명 45.45% 실종
Cabin_num 135 : 전체 10 중 6명 60.0% 실종
Cabin_num 136 : 전체 11 중 6명 54.55% 실종
Cabin_num 137 : 전체 17 중 7명 41.18% 실종
Cabin_num 138 : 전체 15 중 14명 93.33% 실종
Cabin_num 139 : 전체 6 중 4명 66.67% 실종
Cabin_num 140 : 전체 14 중 4명 28.57% 실종
Cabin_num 141 : 전체 10 중 6명 60.0% 실종
Cabin_num 142 : 전체 14 중 5명 35.71% 실종
Cabin_num 143 : 전체 10 중 7명 70.0% 실종
Cabin_num 144 : 전체 18 중 6명 33.33% 실종
Cabin_num 145 : 전체 15 중 6명 40.0% 실종
Cabin_num 146 : 전체 11 중 6명 54.55% 실종
Cabin_num 147 : 전체 9 중 2명 22.22% 실종
Cabin_num 148 : 전체 8 중 4명 50.0% 실종
Cabin_num 149 : 전체 12 중 5명 41.67% 실종
Cabin_num 150 : 전체 18 중 7명 38.89% 실종
Cabin_num 151 : 전체 16 중 7명 43.75% 실종
Cabin_num 152 : 전체 14 중 5명 35.71% 실종
Cabin_num 153 : 전체 7 중 6명 85.71% 실종
Cabin_num 154 : 전체 9 중 3명 33.33% 실종
Cabin_num 155 : 전체 10 중 5명 50.0% 실종
Cabin_num 156 : 전체 13 중 4명 30.77% 실종
Cabin_num 157 : 전체 8 중 3명 37.5% 실종
Cabin_num 158 : 전체 16 중 9명 56.25% 실종
Cabin_num 159 : 전체 10 중 5명 50.0% 실종
Cabin_num 160 : 전체 6 중 3명 50.0% 실종
Cabin_num 161 : 전체 11 중 3명 27.27% 실종
Cabin_num 162 : 전체 9 중 4명 44.44% 실종
Cabin_num 163 : 전체 18 중 10명 55.56% 실종
Cabin_num 164 : 전체 6 중 3명 50.0% 실종
Cabin_num 165 : 전체 9 중 5명 55.56% 실종
Cabin_num 166 : 전체 20 중 10명 50.0% 실종
Cabin_num 167 : 전체 7 중 4명 57.14% 실종
Cabin_num 168 : 전체 9 중 4명 44.44% 실종
Cabin_num 169 : 전체 7 중 3명 42.86% 실종
Cabin_num 170 : 전체 11 중 5명 45.45% 실종
Cabin_num 171 : 전체 12 중 8명 66.67% 실종
Cabin_num 172 : 전체 6 중 3명 50.0% 실종
Cabin_num 173 : 전체 9 중 5명 55.56% 실종
Cabin_num 174 : 전체 7 중 4명 57.14% 실종
Cabin_num 175 : 전체 16 중 5명 31.25% 실종
Cabin_num 176 : 전체 21 중 9명 42.86% 실종
Cabin_num 177 : 전체 7 중 3명 42.86% 실종
Cabin_num 178 : 전체 16 중 11명 68.75% 실종
Cabin_num 179 : 전체 11 중 6명 54.55% 실종
Cabin_num 180 : 전체 8 중 5명 62.5% 실종
Cabin_num 181 : 전체 11 중 3명 27.27% 실종
Cabin_num 182 : 전체 11 중 5명 45.45% 실종
Cabin_num 183 : 전체 16 중 8명 50.0% 실종
Cabin_num 184 : 전체 10 중 6명 60.0% 실종
Cabin_num 185 : 전체 14 중 9명 64.29% 실종
Cabin_num 186 : 전체 18 중 10명 55.56% 실종
Cabin_num 187 : 전체 16 중 5명 31.25% 실종
Cabin_num 188 : 전체 11 중 3명 27.27% 실종
Cabin_num 189 : 전체 14 중 10명 71.43% 실종
Cabin_num 190 : 전체 13 중 7명 53.85% 실종
Cabin_num 191 : 전체 10 중 4명 40.0% 실종
Cabin_num 192 : 전체 10 중 6명 60.0% 실종
Cabin_num 193 : 전체 13 중 5명 38.46% 실종
Cabin_num 194 : 전체 14 중 6명 42.86% 실종
Cabin_num 195 : 전체 12 중 7명 58.33% 실종
Cabin_num 196 : 전체 11 중 7명 63.64% 실종
Cabin_num 197 : 전체 4 중 3명 75.0% 실종
Cabin_num 198 : 전체 12 중 5명 41.67% 실종
Cabin_num 199 : 전체 13 중 6명 46.15% 실종
Cabin_num 200 : 전체 11 중 4명 36.36% 실종
Cabin_num 201 : 전체 16 중 8명 50.0% 실종
Cabin_num 202 : 전체 9 중 3명 33.33% 실종
Cabin_num 203 : 전체 11 중 5명 45.45% 실종
Cabin_num 204 : 전체 7 중 4명 57.14% 실종
Cabin_num 205 : 전체 8 중 5명 62.5% 실종
Cabin_num 206 : 전체 12 중 4명 33.33% 실종
Cabin_num 207 : 전체 6 중 4명 66.67% 실종
Cabin_num 208 : 전체 12 중 6명 50.0% 실종
Cabin_num 209 : 전체 11 중 4명 36.36% 실종
Cabin_num 210 : 전체 10 중 5명 50.0% 실종
Cabin_num 211 : 전체 12 중 8명 66.67% 실종
Cabin_num 212 : 전체 8 중 4명 50.0% 실종
Cabin_num 213 : 전체 12 중 4명 33.33% 실종
Cabin_num 214 : 전체 9 중 4명 44.44% 실종
Cabin_num 215 : 전체 11 중 4명 36.36% 실종
Cabin_num 216 : 전체 13 중 4명 30.77% 실종
Cabin_num 217 : 전체 14 중 6명 42.86% 실종
Cabin_num 218 : 전체 13 중 6명 46.15% 실종
Cabin_num 219 : 전체 11 중 6명 54.55% 실종
Cabin_num 220 : 전체 11 중 4명 36.36% 실종
Cabin_num 221 : 전체 14 중 7명 50.0% 실종
Cabin_num 222 : 전체 14 중 6명 42.86% 실종
Cabin_num 223 : 전체 8 중 3명 37.5% 실종
Cabin_num 224 : 전체 8 중 3명 37.5% 실종
Cabin_num 225 : 전체 15 중 5명 33.33% 실종
Cabin_num 226 : 전체 15 중 10명 66.67% 실종
Cabin_num 227 : 전체 17 중 6명 35.29% 실종
Cabin_num 228 : 전체 7 중 5명 71.43% 실종
Cabin_num 229 : 전체 15 중 7명 46.67% 실종
Cabin_num 230 : 전체 20 중 5명 25.0% 실종
Cabin_num 231 : 전체 7 중 4명 57.14% 실종

Cabin_num 232 : 전체 9 중 4명 44.44% 실종
Cabin_num 233 : 전체 15 중 10명 66.67% 실종
Cabin_num 234 : 전체 7 중 4명 57.14% 실종
Cabin_num 235 : 전체 11 중 4명 36.36% 실종
Cabin_num 236 : 전체 8 중 1명 12.5% 실종
Cabin_num 237 : 전체 13 중 5명 38.46% 실종
Cabin_num 238 : 전체 15 중 9명 60.0% 실종
Cabin_num 239 : 전체 11 중 5명 45.45% 실종
Cabin_num 240 : 전체 13 중 8명 61.54% 실종
Cabin_num 241 : 전체 9 중 5명 55.56% 실종
Cabin_num 242 : 전체 9 중 3명 33.33% 실종
Cabin_num 243 : 전체 7 중 4명 57.14% 실종
Cabin_num 244 : 전체 8 중 4명 50.0% 실종
Cabin_num 245 : 전체 11 중 2명 18.18% 실종
Cabin_num 246 : 전체 13 중 10명 76.92% 실종
Cabin_num 247 : 전체 16 중 4명 25.0% 실종
Cabin_num 248 : 전체 8 중 3명 37.5% 실종
Cabin_num 249 : 전체 10 중 1명 10.0% 실종
Cabin_num 250 : 전체 12 중 3명 25.0% 실종
Cabin_num 251 : 전체 10 중 5명 50.0% 실종
Cabin_num 252 : 전체 11 중 4명 36.36% 실종
Cabin_num 253 : 전체 12 중 5명 41.67% 실종
Cabin_num 254 : 전체 9 중 5명 55.56% 실종
Cabin_num 255 : 전체 13 중 5명 38.46% 실종
Cabin_num 256 : 전체 7 중 2명 28.57% 실종
Cabin_num 257 : 전체 9 중 6명 66.67% 실종
Cabin_num 258 : 전체 16 중 6명 37.5% 실종
Cabin_num 259 : 전체 13 중 6명 46.15% 실종
Cabin_num 260 : 전체 14 중 8명 57.14% 실종
Cabin_num 261 : 전체 9 중 5명 55.56% 실종
Cabin_num 262 : 전체 14 중 4명 28.57% 실종
Cabin_num 263 : 전체 10 중 4명 40.0% 실종
Cabin_num 264 : 전체 11 중 5명 45.45% 실종
Cabin_num 265 : 전체 12 중 4명 33.33% 실종
Cabin_num 266 : 전체 10 중 5명 50.0% 실종
Cabin_num 267 : 전체 11 중 5명 45.45% 실종
Cabin_num 268 : 전체 10 중 6명 60.0% 실종
Cabin_num 269 : 전체 19 중 9명 47.37% 실종
Cabin_num 270 : 전체 14 중 8명 57.14% 실종
Cabin_num 271 : 전체 8 중 2명 25.0% 실종
Cabin_num 272 : 전체 12 중 6명 50.0% 실종
Cabin_num 273 : 전체 7 중 4명 57.14% 실종
Cabin_num 274 : 전체 8 중 6명 75.0% 실종
Cabin_num 275 : 전체 10 중 4명 40.0% 실종
Cabin_num 276 : 전체 11 중 7명 63.64% 실종
Cabin_num 277 : 전체 11 중 5명 45.45% 실종
Cabin_num 278 : 전체 10 중 6명 60.0% 실종
Cabin_num 279 : 전체 15 중 7명 46.67% 실종
Cabin_num 280 : 전체 7 중 5명 71.43% 실종
Cabin_num 281 : 전체 15 중 6명 40.0% 실종
Cabin_num 282 : 전체 6 중 4명 66.67% 실종
Cabin_num 283 : 전체 15 중 6명 40.0% 실종
Cabin_num 284 : 전체 8 중 2명 25.0% 실종
Cabin_num 285 : 전체 10 중 5명 50.0% 실종
Cabin_num 286 : 전체 7 중 2명 28.57% 실종
Cabin_num 287 : 전체 11 중 6명 54.55% 실종
Cabin_num 288 : 전체 12 중 7명 58.33% 실종
Cabin_num 289 : 전체 94 중 25명 26.6% 실종
Cabin_num 290 : 전체 8 중 6명 75.0% 실종
Cabin_num 291 : 전체 14 중 7명 50.0% 실종
Cabin_num 292 : 전체 10 중 7명 70.0% 실종
Cabin_num 293 : 전체 7 중 2명 28.57% 실종
Cabin_num 294 : 전체 4 중 1명 25.0% 실종
Cabin_num 295 : 전체 9 중 3명 33.33% 실종
Cabin_num 296 : 전체 7 중 4명 57.14% 실종
Cabin_num 297 : 전체 10 중 2명 20.0% 실종
Cabin_num 298 : 전체 9 중 4명 44.44% 실종
Cabin_num 299 : 전체 9 중 4명 44.44% 실종
Cabin_num 300 : 전체 9 중 3명 33.33% 실종
Cabin_num 301 : 전체 7 중 3명 42.86% 실종
Cabin_num 302 : 전체 7 중 3명 42.86% 실종
Cabin_num 303 : 전체 6 중 4명 66.67% 실종
Cabin_num 304 : 전체 5 중 3명 60.0% 실종
Cabin_num 305 : 전체 8 중 5명 62.5% 실종
Cabin_num 306 : 전체 12 중 4명 33.33% 실종
Cabin_num 307 : 전체 8 중 6명 75.0% 실종
Cabin_num 308 : 전체 15 중 6명 40.0% 실종
Cabin_num 309 : 전체 12 중 9명 75.0% 실종
Cabin_num 310 : 전체 8 중 3명 37.5% 실종
Cabin_num 311 : 전체 13 중 7명 53.85% 실종
Cabin_num 312 : 전체 9 중 2명 22.22% 실종
Cabin_num 313 : 전체 5 중 4명 80.0% 실종
Cabin_num 314 : 전체 5 중 4명 80.0% 실종
Cabin_num 315 : 전체 9 중 3명 33.33% 실종
Cabin_num 316 : 전체 6 중 4명 66.67% 실종
Cabin_num 317 : 전체 11 중 7명 63.64% 실종
Cabin_num 318 : 전체 5 중 2명 40.0% 실종
Cabin_num 319 : 전체 11 중 3명 27.27% 실종
Cabin_num 320 : 전체 4 중 3명 75.0% 실종
Cabin_num 321 : 전체 7 중 6명 85.71% 실종
Cabin_num 322 : 전체 5 중 1명 20.0% 실종
Cabin_num 323 : 전체 10 중 3명 30.0% 실종
Cabin_num 324 : 전체 9 중 5명 55.56% 실종
Cabin_num 325 : 전체 7 중 4명 57.14% 실종
Cabin_num 326 : 전체 9 중 3명 33.33% 실종
Cabin_num 327 : 전체 6 중 5명 83.33% 실종
Cabin_num 328 : 전체 4 중 4명 100.0% 실종
Cabin_num 329 : 전체 8 중 1명 12.5% 실종
Cabin_num 330 : 전체 12 중 6명 50.0% 실종
Cabin_num 331 : 전체 9 중 4명 44.44% 실종
Cabin_num 332 : 전체 3 중 2명 66.67% 실종
Cabin_num 333 : 전체 5 중 1명 20.0% 실종
Cabin_num 334 : 전체 7 중 3명 42.86% 실종
Cabin_num 335 : 전체 6 중 5명 83.33% 실종
Cabin_num 336 : 전체 8 중 3명 37.5% 실종
Cabin_num 337 : 전체 5 중 2명 40.0% 실종
Cabin_num 338 : 전체 7 중 4명 57.14% 실종
Cabin_num 339 : 전체 10 중 6명 60.0% 실종
Cabin_num 340 : 전체 8 중 4명 50.0% 실종
Cabin_num 341 : 전체 6 중 4명 66.67% 실종
Cabin_num 342 : 전체 9 중 5명 55.56% 실종
Cabin_num 343 : 전체 6 중 4명 66.67% 실종
Cabin_num 344 : 전체 5 중 4명 80.0% 실종
Cabin_num 345 : 전체 1 중 1명 100.0% 실종
Cabin_num 346 : 전체 3 중 3명 100.0% 실종
Cabin_num 347 : 전체 6 중 4명 66.67% 실종
Cabin_num 348 : 전체 4 중 2명 50.0% 실종
Cabin_num 349 : 전체 6 중 4명 66.67% 실종
Cabin_num 350 : 전체 4 중 2명 50.0% 실종
Cabin_num 351 : 전체 4 중 3명 75.0% 실종
Cabin_num 352 : 전체 9 중 7명 77.78% 실종
Cabin_num 354 : 전체 4 중 3명 75.0% 실종
Cabin_num 355 : 전체 5 중 2명 40.0% 실종
Cabin_num 356 : 전체 5 중 5명 100.0% 실종
Cabin_num 357 : 전체 5 중 2명 40.0% 실종
Cabin_num 358 : 전체 5 중 3명 60.0% 실종
Cabin_num 359 : 전체 3 중 2명 66.67% 실종
Cabin_num 360 : 전체 3 중 1명 33.33% 실종
Cabin_num 361 : 전체 3 중 1명 33.33% 실종
Cabin_num 362 : 전체 4 중 1명 25.0% 실종
Cabin_num 363 : 전체 3 중 3명 100.0% 실종
Cabin_num 364 : 전체 3 중 2명 66.67% 실종
Cabin_num 365 : 전체 5 중 5명 100.0% 실종
Cabin_num 366 : 전체 3 중 2명 66.67% 실종
Cabin_num 367 : 전체 5 중 2명 40.0% 실종
Cabin_num 368 : 전체 4 중 2명 50.0% 실종
Cabin_num 369 : 전체 4 중 1명 25.0% 실종
Cabin_num 370 : 전체 4 중 3명 75.0% 실종
Cabin_num 371 : 전체 5 중 2명 40.0% 실종
Cabin_num 372 : 전체 5 중 4명 80.0% 실종
Cabin_num 373 : 전체 3 중 2명 66.67% 실종
Cabin_num 374 : 전체 4 중 3명 75.0% 실종
Cabin_num 375 : 전체 3 중 2명 66.67% 실종
Cabin_num 376 : 전체 5 중 4명 80.0% 실종
Cabin_num 377 : 전체 9 중 3명 33.33% 실종
Cabin_num 378 : 전체 7 중 6명 85.71% 실종
Cabin_num 379 : 전체 5 중 3명 60.0% 실종
Cabin_num 380 : 전체 4 중 2명 50.0% 실종
Cabin_num 381 : 전체 4 중 3명 75.0% 실종
Cabin_num 382 : 전체 1 중 1명 100.0% 실종
Cabin_num 383 : 전체 10 중 6명 60.0% 실종
Cabin_num 384 : 전체 3 중 2명 66.67% 실종
Cabin_num 385 : 전체 6 중 4명 66.67% 실종
Cabin_num 386 : 전체 6 중 3명 50.0% 실종
Cabin_num 387 : 전체 5 중 4명 80.0% 실종
Cabin_num 388 : 전체 4 중 2명 50.0% 실종
Cabin_num 389 : 전체 2 중 1명 50.0% 실종
Cabin_num 390 : 전체 6 중 4명 66.67% 실종
Cabin_num 391 : 전체 6 중 5명 83.33% 실종
Cabin_num 392 : 전체 2 중 1명 50.0% 실종
Cabin_num 393 : 전체 4 중 2명 50.0% 실종
Cabin_num 394 : 전체 5 중 2명 40.0% 실종
Cabin_num 395 : 전체 4 중 3명 75.0% 실종
Cabin_num 396 : 전체 5 중 3명 60.0% 실종
Cabin_num 397 : 전체 3 중 3명 100.0% 실종
Cabin_num 398 : 전체 6 중 5명 83.33% 실종
Cabin_num 399 : 전체 2 중 1명 50.0% 실종
Cabin_num 400 : 전체 2 중 1명 50.0% 실종
Cabin_num 401 : 전체 4 중 4명 100.0% 실종
Cabin_num 402 : 전체 3 중 1명 33.33% 실종
Cabin_num 403 : 전체 3 중 2명 66.67% 실종
Cabin_num 404 : 전체 4 중 4명 100.0% 실종
Cabin_num 406 : 전체 2 중 1명 50.0% 실종
Cabin_num 407 : 전체 7 중 6명 85.71% 실종
Cabin_num 408 : 전체 4 중 1명 25.0% 실종
Cabin_num 409 : 전체 3 중 3명 100.0% 실종
Cabin_num 410 : 전체 5 중 5명 100.0% 실종
Cabin_num 411 : 전체 4 중 2명 50.0% 실종
Cabin_num 412 : 전체 9 중 7명 77.78% 실종
Cabin_num 413 : 전체 5 중 3명 60.0% 실종
Cabin_num 414 : 전체 4 중 3명 75.0% 실종
Cabin_num 415 : 전체 4 중 3명 75.0% 실종
Cabin_num 417 : 전체 4 중 3명 75.0% 실종
Cabin_num 418 : 전체 3 중 1명 33.33% 실종
Cabin_num 419 : 전체 5 중 2명 40.0% 실종
Cabin_num 420 : 전체 8 중 7명 87.5% 실종
Cabin_num 421 : 전체 6 중 4명 66.67% 실종
Cabin_num 422 : 전체 3 중 2명 66.67% 실종
Cabin_num 424 : 전체 6 중 3명 50.0% 실종
Cabin_num 425 : 전체 4 중 2명 50.0% 실종
Cabin_num 426 : 전체 8 중 4명 50.0% 실종
Cabin_num 427 : 전체 5 중 4명 80.0% 실종
Cabin_num 428 : 전체 5 중 3명 60.0% 실종
Cabin_num 429 : 전체 5 중 4명 80.0% 실종
Cabin_num 430 : 전체 3 중 3명 100.0% 실종
Cabin_num 431 : 전체 7 중 6명 85.71% 실종
Cabin_num 432 : 전체 5 중 4명 80.0% 실종
Cabin_num 433 : 전체 5 중 3명 60.0% 실종
Cabin_num 434 : 전체 2 중 1명 50.0% 실종
Cabin_num 435 : 전체 6 중 2명 33.33% 실종
Cabin_num 436 : 전체 2 중 2명 100.0% 실종
Cabin_num 437 : 전체 5 중 4명 80.0% 실종
Cabin_num 438 : 전체 9 중 7명 77.78% 실종
Cabin_num 439 : 전체 7 중 5명 71.43% 실종
Cabin_num 440 : 전체 4 중 3명 75.0% 실종
Cabin_num 442 : 전체 5 중 3명 60.0% 실종
Cabin_num 443 : 전체 3 중 3명 100.0% 실종
Cabin_num 444 : 전체 3 중 3명 100.0% 실종
Cabin_num 445 : 전체 7 중 5명 71.43% 실종
Cabin_num 446 : 전체 4 중 1명 25.0% 실종
Cabin_num 447 : 전체 4 중 3명 75.0% 실종
Cabin_num 448 : 전체 6 중 2명 33.33% 실종
Cabin_num 449 : 전체 7 중 5명 71.43% 실종
Cabin_num 450 : 전체 13 중 5명 38.46% 실종
Cabin_num 451 : 전체 3 중 1명 33.33% 실종
Cabin_num 452 : 전체 4 중 1명 25.0% 실종
Cabin_num 453 : 전체 2 중 1명 50.0% 실종
Cabin_num 454 : 전체 5 중 2명 40.0% 실종
Cabin_num 455 : 전체 5 중 2명 40.0% 실종
Cabin_num 456 : 전체 3 중 2명 66.67% 실종
Cabin_num 457 : 전체 5 중 4명 80.0% 실종
Cabin_num 458 : 전체 3 중 1명 33.33% 실종
Cabin_num 459 : 전체 5 중 4명 80.0% 실종
Cabin_num 460 : 전체 4 중 3명 75.0% 실종
Cabin_num 461 : 전체 7 중 5명 71.43% 실종
Cabin_num 462 : 전체 3 중 3명 100.0% 실종
Cabin_num 463 : 전체 4 중 3명 75.0% 실종
Cabin_num 464 : 전체 5 중 3명 60.0% 실종
Cabin_num 465 : 전체 5 중 3명 60.0% 실종
Cabin_num 466 : 전체 7 중 5명 71.43% 실종
Cabin_num 467 : 전체 6 중 4명 66.67% 실종
Cabin_num 468 : 전체 5 중 4명 80.0% 실종
Cabin_num 469 : 전체 9 중 5명 55.56% 실종
Cabin_num 470 : 전체 4 중 4명 100.0% 실종
Cabin_num 471 : 전체 3 중 2명 66.67% 실종
Cabin_num 472 : 전체 4 중 2명 50.0% 실종
Cabin_num 473 : 전체 3 중 2명 66.67% 실종
Cabin_num 474 : 전체 7 중 6명 85.71% 실종
Cabin_num 475 : 전체 8 중 3명 37.5% 실종
Cabin_num 476 : 전체 4 중 4명 100.0% 실종
Cabin_num 477 : 전체 6 중 4명 66.67% 실종
Cabin_num 478 : 전체 6 중 6명 100.0% 실종
Cabin_num 479 : 전체 3 중 2명 66.67% 실종
Cabin_num 480 : 전체 2 중 1명 50.0% 실종
Cabin_num 481 : 전체 4 중 2명 50.0% 실종
Cabin_num 482 : 전체 4 중 3명 75.0% 실종
Cabin_num 483 : 전체 4 중 2명 50.0% 실종
Cabin_num 484 : 전체 2 중 2명 100.0% 실종
Cabin_num 485 : 전체 6 중 1명 16.67% 실종
Cabin_num 486 : 전체 4 중 3명 75.0% 실종
Cabin_num 487 : 전체 4 중 3명 75.0% 실종
Cabin_num 488 : 전체 5 중 5명 100.0% 실종
Cabin_num 489 : 전체 3 중 1명 33.33% 실종
Cabin_num 490 : 전체 4 중 3명 75.0% 실종
Cabin_num 491 : 전체 2 중 1명 50.0% 실종
Cabin_num 492 : 전체 7 중 2명 28.57% 실종

Cabin_num 493 : 전체 3 중 2명 66.67% 실종
Cabin_num 495 : 전체 2 중 2명 100.0% 실종
Cabin_num 496 : 전체 4 중 4명 100.0% 실종
Cabin_num 497 : 전체 2 중 2명 100.0% 실종
Cabin_num 498 : 전체 3 중 3명 100.0% 실종
Cabin_num 499 : 전체 8 중 4명 50.0% 실종
Cabin_num 500 : 전체 6 중 3명 50.0% 실종
Cabin_num 501 : 전체 3 중 2명 66.67% 실종
Cabin_num 502 : 전체 4 중 2명 50.0% 실종
Cabin_num 504 : 전체 4 중 3명 75.0% 실종
Cabin_num 505 : 전체 8 중 5명 62.5% 실종
Cabin_num 506 : 전체 5 중 4명 80.0% 실종
Cabin_num 508 : 전체 6 중 2명 33.33% 실종
Cabin_num 510 : 전체 5 중 5명 100.0% 실종
Cabin_num 511 : 전체 4 중 2명 50.0% 실종
Cabin_num 512 : 전체 3 중 3명 100.0% 실종
Cabin_num 513 : 전체 6 중 4명 66.67% 실종
Cabin_num 514 : 전체 4 중 3명 75.0% 실종
Cabin_num 515 : 전체 3 중 2명 66.67% 실종
Cabin_num 516 : 전체 6 중 4명 66.67% 실종
Cabin_num 517 : 전체 5 중 1명 20.0% 실종
Cabin_num 519 : 전체 2 중 1명 50.0% 실종
Cabin_num 520 : 전체 3 중 2명 66.67% 실종
Cabin_num 521 : 전체 6 중 6명 100.0% 실종
Cabin_num 522 : 전체 7 중 4명 57.14% 실종
Cabin_num 523 : 전체 7 중 3명 42.86% 실종
Cabin_num 524 : 전체 4 중 3명 75.0% 실종
Cabin_num 525 : 전체 12 중 3명 25.0% 실종
Cabin_num 526 : 전체 3 중 2명 66.67% 실종
Cabin_num 527 : 전체 3 중 1명 33.33% 실종
Cabin_num 528 : 전체 3 중 3명 100.0% 실종
Cabin_num 529 : 전체 3 중 2명 66.67% 실종
Cabin_num 530 : 전체 5 중 4명 80.0% 실종
Cabin_num 531 : 전체 5 중 3명 60.0% 실종
Cabin_num 532 : 전체 7 중 5명 71.43% 실종
Cabin_num 533 : 전체 8 중 3명 37.5% 실종
Cabin_num 534 : 전체 4 중 1명 25.0% 실종
Cabin_num 535 : 전체 5 중 3명 60.0% 실종
Cabin_num 536 : 전체 4 중 2명 50.0% 실종
Cabin_num 537 : 전체 7 중 5명 71.43% 실종
Cabin_num 538 : 전체 2 중 1명 50.0% 실종
Cabin_num 539 : 전체 6 중 3명 50.0% 실종
Cabin_num 540 : 전체 4 중 4명 100.0% 실종
Cabin_num 541 : 전체 8 중 4명 50.0% 실종
Cabin_num 542 : 전체 5 중 4명 80.0% 실종
Cabin_num 543 : 전체 5 중 2명 40.0% 실종
Cabin_num 544 : 전체 4 중 2명 50.0% 실종
Cabin_num 545 : 전체 5 중 2명 40.0% 실종
Cabin_num 546 : 전체 6 중 2명 33.33% 실종
Cabin_num 547 : 전체 6 중 2명 33.33% 실종
Cabin_num 548 : 전체 5 중 3명 60.0% 실종
Cabin_num 549 : 전체 3 중 2명 66.67% 실종
Cabin_num 550 : 전체 5 중 4명 80.0% 실종
Cabin_num 551 : 전체 4 중 1명 25.0% 실종
Cabin_num 553 : 전체 6 중 3명 50.0% 실종
Cabin_num 554 : 전체 5 중 4명 80.0% 실종
Cabin_num 555 : 전체 5 중 2명 40.0% 실종
Cabin_num 556 : 전체 5 중 3명 60.0% 실종
Cabin_num 557 : 전체 3 중 2명 66.67% 실종
Cabin_num 558 : 전체 6 중 4명 66.67% 실종
Cabin_num 559 : 전체 5 중 5명 100.0% 실종
Cabin_num 561 : 전체 5 중 4명 80.0% 실종
Cabin_num 562 : 전체 5 중 2명 40.0% 실종
Cabin_num 563 : 전체 5 중 3명 60.0% 실종
Cabin_num 564 : 전체 6 중 4명 66.67% 실종
Cabin_num 565 : 전체 4 중 2명 50.0% 실종
Cabin_num 566 : 전체 3 중 2명 66.67% 실종
Cabin_num 567 : 전체 4 중 3명 75.0% 실종
Cabin_num 568 : 전체 5 중 3명 60.0% 실종
Cabin_num 569 : 전체 2 중 2명 100.0% 실종
Cabin_num 570 : 전체 7 중 5명 71.43% 실종
Cabin_num 571 : 전체 7 중 2명 28.57% 실종
Cabin_num 572 : 전체 3 중 2명 66.67% 실종
Cabin_num 573 : 전체 4 중 2명 50.0% 실종
Cabin_num 574 : 전체 7 중 3명 42.86% 실종
Cabin_num 575 : 전체 7 중 6명 85.71% 실종
Cabin_num 576 : 전체 5 중 3명 60.0% 실종
Cabin_num 577 : 전체 6 중 2명 33.33% 실종
Cabin_num 578 : 전체 5 중 5명 100.0% 실종
Cabin_num 579 : 전체 3 중 1명 33.33% 실종
Cabin_num 580 : 전체 5 중 3명 60.0% 실종
Cabin_num 581 : 전체 3 중 1명 33.33% 실종
Cabin_num 582 : 전체 5 중 3명 60.0% 실종
Cabin_num 583 : 전체 2 중 1명 50.0% 실종
Cabin_num 584 : 전체 4 중 3명 75.0% 실종
Cabin_num 585 : 전체 7 중 2명 28.57% 실종
Cabin_num 586 : 전체 6 중 2명 33.33% 실종
Cabin_num 587 : 전체 3 중 2명 66.67% 실종
Cabin_num 588 : 전체 5 중 2명 40.0% 실종
Cabin_num 589 : 전체 3 중 3명 100.0% 실종
Cabin_num 590 : 전체 2 중 1명 50.0% 실종
Cabin_num 591 : 전체 5 중 5명 100.0% 실종
Cabin_num 592 : 전체 6 중 4명 66.67% 실종
Cabin_num 593 : 전체 5 중 2명 40.0% 실종
Cabin_num 594 : 전체 4 중 3명 75.0% 실종
Cabin_num 595 : 전체 6 중 2명 33.33% 실종
Cabin_num 596 : 전체 2 중 1명 50.0% 실종
Cabin_num 597 : 전체 3 중 2명 66.67% 실종
Cabin_num 598 : 전체 4 중 3명 75.0% 실종
Cabin_num 599 : 전체 3 중 3명 100.0% 실종
Cabin_num 600 : 전체 5 중 1명 20.0% 실종
Cabin_num 601 : 전체 7 중 6명 85.71% 실종
Cabin_num 602 : 전체 6 중 5명 83.33% 실종
Cabin_num 603 : 전체 6 중 3명 50.0% 실종
Cabin_num 604 : 전체 4 중 1명 25.0% 실종
Cabin_num 606 : 전체 5 중 1명 20.0% 실종
Cabin_num 607 : 전체 5 중 1명 20.0% 실종
Cabin_num 608 : 전체 3 중 2명 66.67% 실종
Cabin_num 610 : 전체 2 중 2명 100.0% 실종
Cabin_num 612 : 전체 2 중 1명 50.0% 실종
Cabin_num 613 : 전체 2 중 1명 50.0% 실종
Cabin_num 614 : 전체 2 중 1명 50.0% 실종
Cabin_num 615 : 전체 4 중 2명 50.0% 실종
Cabin_num 616 : 전체 2 중 1명 50.0% 실종
Cabin_num 617 : 전체 4 중 2명 50.0% 실종
Cabin_num 618 : 전체 3 중 2명 66.67% 실종
Cabin_num 619 : 전체 5 중 3명 60.0% 실종
Cabin_num 620 : 전체 3 중 1명 33.33% 실종
Cabin_num 621 : 전체 2 중 2명 100.0% 실종
Cabin_num 622 : 전체 3 중 2명 66.67% 실종
Cabin_num 624 : 전체 2 중 1명 50.0% 실종
Cabin_num 626 : 전체 3 중 3명 100.0% 실종
Cabin_num 627 : 전체 4 중 4명 100.0% 실종
Cabin_num 629 : 전체 1 중 1명 100.0% 실종
Cabin_num 630 : 전체 9 중 3명 33.33% 실종
Cabin_num 631 : 전체 4 중 2명 50.0% 실종
Cabin_num 634 : 전체 2 중 1명 50.0% 실종
Cabin_num 635 : 전체 4 중 1명 25.0% 실종
Cabin_num 636 : 전체 7 중 4명 57.14% 실종
Cabin_num 637 : 전체 2 중 2명 100.0% 실종
Cabin_num 638 : 전체 2 중 1명 50.0% 실종
Cabin_num 642 : 전체 5 중 1명 20.0% 실종
Cabin_num 643 : 전체 3 중 2명 66.67% 실종
Cabin_num 644 : 전체 2 중 2명 100.0% 실종
Cabin_num 645 : 전체 2 중 2명 100.0% 실종
Cabin_num 646 : 전체 4 중 2명 50.0% 실종
Cabin_num 647 : 전체 3 중 2명 66.67% 실종
Cabin_num 649 : 전체 4 중 1명 25.0% 실종
Cabin_num 650 : 전체 2 중 1명 50.0% 실종
Cabin_num 651 : 전체 1 중 1명 100.0% 실종
Cabin_num 654 : 전체 4 중 2명 50.0% 실종
Cabin_num 655 : 전체 6 중 5명 83.33% 실종
Cabin_num 656 : 전체 4 중 3명 75.0% 실종
Cabin_num 657 : 전체 8 중 3명 37.5% 실종
Cabin_num 658 : 전체 4 중 1명 25.0% 실종
Cabin_num 659 : 전체 7 중 3명 42.86% 실종
Cabin_num 660 : 전체 4 중 1명 25.0% 실종
Cabin_num 661 : 전체 6 중 4명 66.67% 실종
Cabin_num 662 : 전체 3 중 2명 66.67% 실종
Cabin_num 663 : 전체 3 중 2명 66.67% 실종
Cabin_num 664 : 전체 3 중 1명 33.33% 실종
Cabin_num 665 : 전체 2 중 2명 100.0% 실종
Cabin_num 667 : 전체 2 중 2명 100.0% 실종
Cabin_num 668 : 전체 4 중 2명 50.0% 실종
Cabin_num 669 : 전체 3 중 2명 66.67% 실종
Cabin_num 670 : 전체 2 중 1명 50.0% 실종
Cabin_num 671 : 전체 2 중 1명 50.0% 실종
Cabin_num 672 : 전체 3 중 2명 66.67% 실종
Cabin_num 673 : 전체 3 중 2명 66.67% 실종
Cabin_num 674 : 전체 2 중 1명 50.0% 실종
Cabin_num 675 : 전체 3 중 2명 66.67% 실종
Cabin_num 676 : 전체 3 중 2명 66.67% 실종
Cabin_num 678 : 전체 3 중 1명 33.33% 실종
Cabin_num 679 : 전체 2 중 2명 100.0% 실종
Cabin_num 680 : 전체 2 중 1명 50.0% 실종
Cabin_num 681 : 전체 1 중 1명 100.0% 실종
Cabin_num 684 : 전체 2 중 2명 100.0% 실종
Cabin_num 686 : 전체 4 중 3명 75.0% 실종
Cabin_num 687 : 전체 3 중 2명 66.67% 실종
Cabin_num 688 : 전체 4 중 1명 25.0% 실종
Cabin_num 689 : 전체 3 중 3명 100.0% 실종
Cabin_num 690 : 전체 3 중 2명 66.67% 실종
Cabin_num 691 : 전체 6 중 3명 50.0% 실종
Cabin_num 692 : 전체 2 중 2명 100.0% 실종
Cabin_num 693 : 전체 2 중 1명 50.0% 실종
Cabin_num 694 : 전체 2 중 2명 100.0% 실종
Cabin_num 696 : 전체 4 중 3명 75.0% 실종
Cabin_num 697 : 전체 6 중 1명 16.67% 실종
Cabin_num 698 : 전체 7 중 5명 71.43% 실종
Cabin_num 699 : 전체 2 중 2명 100.0% 실종
Cabin_num 700 : 전체 5 중 1명 20.0% 실종
Cabin_num 701 : 전체 2 중 2명 100.0% 실종
Cabin_num 702 : 전체 3 중 2명 66.67% 실종
Cabin_num 703 : 전체 2 중 1명 50.0% 실종
Cabin_num 704 : 전체 3 중 1명 33.33% 실종
Cabin_num 705 : 전체 2 중 1명 50.0% 실종
Cabin_num 706 : 전체 2 중 1명 50.0% 실종
Cabin_num 707 : 전체 5 중 1명 20.0% 실종
Cabin_num 708 : 전체 2 중 1명 50.0% 실종
Cabin_num 709 : 전체 5 중 1명 20.0% 실종
Cabin_num 711 : 전체 5 중 2명 40.0% 실종
Cabin_num 712 : 전체 3 중 1명 33.33% 실종
Cabin_num 714 : 전체 2 중 1명 50.0% 실종
Cabin_num 715 : 전체 1 중 1명 100.0% 실종
Cabin_num 717 : 전체 4 중 4명 100.0% 실종
Cabin_num 718 : 전체 3 중 2명 66.67% 실종
Cabin_num 719 : 전체 4 중 1명 25.0% 실종
Cabin_num 720 : 전체 3 중 2명 66.67% 실종
Cabin_num 722 : 전체 4 중 3명 75.0% 실종
Cabin_num 724 : 전체 1 중 1명 100.0% 실종
Cabin_num 725 : 전체 5 중 2명 40.0% 실종
Cabin_num 726 : 전체 2 중 1명 50.0% 실종
Cabin_num 727 : 전체 3 중 1명 33.33% 실종
Cabin_num 728 : 전체 2 중 2명 100.0% 실종
Cabin_num 729 : 전체 5 중 3명 60.0% 실종
Cabin_num 731 : 전체 5 중 3명 60.0% 실종
Cabin_num 732 : 전체 6 중 3명 50.0% 실종
Cabin_num 733 : 전체 3 중 1명 33.33% 실종
Cabin_num 734 : 전체 9 중 6명 66.67% 실종
Cabin_num 735 : 전체 4 중 1명 25.0% 실종
Cabin_num 736 : 전체 3 중 1명 33.33% 실종
Cabin_num 737 : 전체 3 중 1명 33.33% 실종
Cabin_num 738 : 전체 4 중 3명 75.0% 실종
Cabin_num 739 : 전체 4 중 2명 50.0% 실종
Cabin_num 740 : 전체 5 중 3명 60.0% 실종
Cabin_num 742 : 전체 3 중 1명 33.33% 실종
Cabin_num 743 : 전체 6 중 2명 33.33% 실종
Cabin_num 745 : 전체 4 중 2명 50.0% 실종
Cabin_num 746 : 전체 3 중 3명 100.0% 실종
Cabin_num 747 : 전체 2 중 1명 50.0% 실종
Cabin_num 748 : 전체 3 중 1명 33.33% 실종
Cabin_num 749 : 전체 2 중 1명 50.0% 실종
Cabin_num 750 : 전체 2 중 1명 50.0% 실종
Cabin_num 751 : 전체 3 중 1명 33.33% 실종
Cabin_num 752 : 전체 3 중 2명 66.67% 실종
Cabin_num 753 : 전체 3 중 1명 33.33% 실종
Cabin_num 754 : 전체 3 중 2명 66.67% 실종
Cabin_num 755 : 전체 5 중 3명 60.0% 실종
Cabin_num 756 : 전체 2 중 2명 100.0% 실종
Cabin_num 757 : 전체 8 중 7명 87.5% 실종
Cabin_num 758 : 전체 3 중 1명 33.33% 실종
Cabin_num 759 : 전체 3 중 1명 33.33% 실종
Cabin_num 761 : 전체 4 중 1명 25.0% 실종
Cabin_num 762 : 전체 5 중 3명 60.0% 실종
Cabin_num 763 : 전체 2 중 2명 100.0% 실종
Cabin_num 764 : 전체 2 중 1명 50.0% 실종
Cabin_num 765 : 전체 10 중 2명 20.0% 실종
Cabin_num 766 : 전체 3 중 1명 33.33% 실종
Cabin_num 767 : 전체 3 중 2명 66.67% 실종
Cabin_num 768 : 전체 4 중 1명 25.0% 실종
Cabin_num 769 : 전체 2 중 2명 100.0% 실종
Cabin_num 770 : 전체 2 중 1명 50.0% 실종
Cabin_num 771 : 전체 2 중 1명 50.0% 실종
Cabin_num 773 : 전체 3 중 2명 66.67% 실종

Cabin_num 775 : 전체 2 중 2명 100.0% 실종
Cabin_num 776 : 전체 3 중 2명 66.67% 실종
Cabin_num 777 : 전체 4 중 2명 50.0% 실종
Cabin_num 778 : 전체 5 중 3명 60.0% 실종
Cabin_num 780 : 전체 3 중 2명 66.67% 실종
Cabin_num 782 : 전체 4 중 3명 75.0% 실종
Cabin_num 783 : 전체 4 중 2명 50.0% 실종
Cabin_num 784 : 전체 3 중 3명 100.0% 실종
Cabin_num 785 : 전체 3 중 1명 33.33% 실종
Cabin_num 786 : 전체 4 중 1명 25.0% 실종
Cabin_num 787 : 전체 3 중 2명 66.67% 실종
Cabin_num 789 : 전체 3 중 1명 33.33% 실종
Cabin_num 790 : 전체 3 중 1명 33.33% 실종
Cabin_num 791 : 전체 3 중 1명 33.33% 실종
Cabin_num 793 : 전체 2 중 2명 100.0% 실종
Cabin_num 794 : 전체 4 중 2명 50.0% 실종
Cabin_num 795 : 전체 3 중 1명 33.33% 실종
Cabin_num 796 : 전체 3 중 1명 33.33% 실종
Cabin_num 797 : 전체 3 중 2명 66.67% 실종
Cabin_num 799 : 전체 5 중 1명 20.0% 실종
Cabin_num 800 : 전체 2 중 2명 100.0% 실종
Cabin_num 801 : 전체 2 중 1명 50.0% 실종
Cabin_num 803 : 전체 3 중 1명 33.33% 실종
Cabin_num 804 : 전체 3 중 2명 66.67% 실종
Cabin_num 805 : 전체 5 중 3명 60.0% 실종
Cabin_num 806 : 전체 4 중 2명 50.0% 실종
Cabin_num 807 : 전체 2 중 1명 50.0% 실종
Cabin_num 808 : 전체 4 중 1명 25.0% 실종
Cabin_num 809 : 전체 2 중 1명 50.0% 실종
Cabin_num 810 : 전체 6 중 3명 50.0% 실종
Cabin_num 811 : 전체 4 중 1명 25.0% 실종
Cabin_num 812 : 전체 3 중 2명 66.67% 실종
Cabin_num 813 : 전체 5 중 1명 20.0% 실종
Cabin_num 814 : 전체 6 중 5명 83.33% 실종
Cabin_num 817 : 전체 3 중 3명 100.0% 실종
Cabin_num 818 : 전체 4 중 2명 50.0% 실종
Cabin_num 819 : 전체 2 중 1명 50.0% 실종
Cabin_num 820 : 전체 2 중 2명 100.0% 실종
Cabin_num 821 : 전체 6 중 3명 50.0% 실종
Cabin_num 822 : 전체 2 중 1명 50.0% 실종
Cabin_num 823 : 전체 3 중 1명 33.33% 실종
Cabin_num 824 : 전체 1 중 1명 100.0% 실종
Cabin_num 825 : 전체 3 중 1명 33.33% 실종
Cabin_num 826 : 전체 3 중 1명 33.33% 실종
Cabin_num 828 : 전체 1 중 1명 100.0% 실종
Cabin_num 829 : 전체 5 중 1명 20.0% 실종
Cabin_num 831 : 전체 2 중 1명 50.0% 실종
Cabin_num 832 : 전체 2 중 2명 100.0% 실종
Cabin_num 833 : 전체 3 중 2명 66.67% 실종
Cabin_num 834 : 전체 2 중 1명 50.0% 실종
Cabin_num 836 : 전체 4 중 1명 25.0% 실종
Cabin_num 838 : 전체 6 중 3명 50.0% 실종
Cabin_num 839 : 전체 5 중 3명 60.0% 실종
Cabin_num 841 : 전체 5 중 3명 60.0% 실종
Cabin_num 842 : 전체 2 중 1명 50.0% 실종
Cabin_num 843 : 전체 2 중 1명 50.0% 실종
Cabin_num 844 : 전체 2 중 1명 50.0% 실종
Cabin_num 845 : 전체 4 중 1명 25.0% 실종
Cabin_num 846 : 전체 4 중 1명 25.0% 실종
Cabin_num 847 : 전체 3 중 2명 66.67% 실종
Cabin_num 848 : 전체 3 중 1명 33.33% 실종
Cabin_num 849 : 전체 3 중 1명 33.33% 실종
Cabin_num 851 : 전체 2 중 1명 50.0% 실종
Cabin_num 852 : 전체 4 중 3명 75.0% 실종
Cabin_num 853 : 전체 3 중 1명 33.33% 실종
Cabin_num 854 : 전체 3 중 1명 33.33% 실종
Cabin_num 855 : 전체 2 중 1명 50.0% 실종
Cabin_num 856 : 전체 9 중 3명 33.33% 실종
Cabin_num 857 : 전체 6 중 3명 50.0% 실종
Cabin_num 858 : 전체 3 중 1명 33.33% 실종
Cabin_num 859 : 전체 6 중 1명 16.67% 실종
Cabin_num 860 : 전체 3 중 1명 33.33% 실종
Cabin_num 865 : 전체 3 중 1명 33.33% 실종
Cabin_num 866 : 전체 1 중 1명 100.0% 실종
Cabin_num 868 : 전체 5 중 4명 80.0% 실종
Cabin_num 869 : 전체 3 중 1명 33.33% 실종
Cabin_num 870 : 전체 3 중 1명 33.33% 실종
Cabin_num 871 : 전체 3 중 1명 33.33% 실종
Cabin_num 872 : 전체 7 중 3명 42.86% 실종
Cabin_num 873 : 전체 4 중 3명 75.0% 실종
Cabin_num 875 : 전체 4 중 3명 75.0% 실종
Cabin_num 876 : 전체 2 중 1명 50.0% 실종
Cabin_num 877 : 전체 3 중 1명 33.33% 실종
Cabin_num 878 : 전체 2 중 1명 50.0% 실종
Cabin_num 879 : 전체 2 중 1명 50.0% 실종
Cabin_num 880 : 전체 5 중 3명 60.0% 실종
Cabin_num 881 : 전체 5 중 2명 40.0% 실종
Cabin_num 882 : 전체 5 중 2명 40.0% 실종
Cabin_num 884 : 전체 3 중 1명 33.33% 실종
Cabin_num 885 : 전체 3 중 2명 66.67% 실종
Cabin_num 886 : 전체 4 중 3명 75.0% 실종
Cabin_num 888 : 전체 3 중 1명 33.33% 실종
Cabin_num 889 : 전체 6 중 1명 16.67% 실종
Cabin_num 891 : 전체 2 중 1명 50.0% 실종
Cabin_num 893 : 전체 7 중 4명 57.14% 실종
Cabin_num 894 : 전체 5 중 2명 40.0% 실종
Cabin_num 895 : 전체 4 중 3명 75.0% 실종
Cabin_num 896 : 전체 3 중 1명 33.33% 실종
Cabin_num 897 : 전체 3 중 2명 66.67% 실종
Cabin_num 898 : 전체 2 중 1명 50.0% 실종
Cabin_num 899 : 전체 2 중 1명 50.0% 실종
Cabin_num 900 : 전체 5 중 1명 20.0% 실종
Cabin_num 902 : 전체 3 중 2명 66.67% 실종
Cabin_num 903 : 전체 6 중 2명 33.33% 실종
Cabin_num 904 : 전체 5 중 1명 20.0% 실종
Cabin_num 905 : 전체 3 중 2명 66.67% 실종
Cabin_num 906 : 전체 4 중 1명 25.0% 실종
Cabin_num 907 : 전체 3 중 1명 33.33% 실종
Cabin_num 910 : 전체 2 중 2명 100.0% 실종
Cabin_num 912 : 전체 3 중 1명 33.33% 실종
Cabin_num 913 : 전체 4 중 1명 25.0% 실종
Cabin_num 916 : 전체 7 중 1명 14.29% 실종
Cabin_num 918 : 전체 4 중 2명 50.0% 실종
Cabin_num 920 : 전체 6 중 2명 33.33% 실종
Cabin_num 921 : 전체 3 중 2명 66.67% 실종
Cabin_num 922 : 전체 5 중 1명 20.0% 실종
Cabin_num 924 : 전체 3 중 1명 33.33% 실종
Cabin_num 926 : 전체 5 중 3명 60.0% 실종
Cabin_num 927 : 전체 2 중 1명 50.0% 실종
Cabin_num 928 : 전체 2 중 2명 100.0% 실종
Cabin_num 929 : 전체 3 중 2명 66.67% 실종
Cabin_num 931 : 전체 2 중 1명 50.0% 실종
Cabin_num 932 : 전체 2 중 1명 50.0% 실종
Cabin_num 933 : 전체 4 중 2명 50.0% 실종
Cabin_num 934 : 전체 3 중 2명 66.67% 실종
Cabin_num 935 : 전체 5 중 1명 20.0% 실종
Cabin_num 936 : 전체 4 중 1명 25.0% 실종
Cabin_num 938 : 전체 6 중 3명 50.0% 실종
Cabin_num 939 : 전체 3 중 1명 33.33% 실종
Cabin_num 940 : 전체 2 중 1명 50.0% 실종
Cabin_num 941 : 전체 3 중 2명 66.67% 실종
Cabin_num 942 : 전체 2 중 1명 50.0% 실종
Cabin_num 943 : 전체 8 중 2명 25.0% 실종
Cabin_num 945 : 전체 4 중 2명 50.0% 실종
Cabin_num 946 : 전체 3 중 1명 33.33% 실종
Cabin_num 948 : 전체 3 중 1명 33.33% 실종
Cabin_num 950 : 전체 3 중 2명 66.67% 실종
Cabin_num 951 : 전체 2 중 2명 100.0% 실종
Cabin_num 954 : 전체 7 중 4명 57.14% 실종
Cabin_num 955 : 전체 4 중 2명 50.0% 실종
Cabin_num 957 : 전체 3 중 2명 66.67% 실종
Cabin_num 958 : 전체 6 중 2명 33.33% 실종
Cabin_num 959 : 전체 3 중 1명 33.33% 실종
Cabin_num 960 : 전체 2 중 1명 50.0% 실종
Cabin_num 963 : 전체 4 중 1명 25.0% 실종
Cabin_num 964 : 전체 3 중 1명 33.33% 실종
Cabin_num 965 : 전체 5 중 2명 40.0% 실종
Cabin_num 966 : 전체 2 중 1명 50.0% 실종
Cabin_num 967 : 전체 3 중 1명 33.33% 실종
Cabin_num 969 : 전체 4 중 2명 50.0% 실종
Cabin_num 970 : 전체 5 중 1명 20.0% 실종
Cabin_num 971 : 전체 2 중 1명 50.0% 실종
Cabin_num 972 : 전체 7 중 1명 14.29% 실종
Cabin_num 973 : 전체 3 중 2명 66.67% 실종
Cabin_num 974 : 전체 8 중 7명 87.5% 실종
Cabin_num 976 : 전체 1 중 1명 100.0% 실종
Cabin_num 977 : 전체 2 중 1명 50.0% 실종
Cabin_num 978 : 전체 1 중 1명 100.0% 실종
Cabin_num 979 : 전체 2 중 1명 50.0% 실종
Cabin_num 980 : 전체 4 중 1명 25.0% 실종
Cabin_num 982 : 전체 5 중 2명 40.0% 실종
Cabin_num 983 : 전체 3 중 2명 66.67% 실종
Cabin_num 984 : 전체 4 중 2명 50.0% 실종
Cabin_num 987 : 전체 2 중 1명 50.0% 실종
Cabin_num 988 : 전체 4 중 1명 25.0% 실종
Cabin_num 990 : 전체 3 중 2명 66.67% 실종
Cabin_num 991 : 전체 5 중 1명 20.0% 실종
Cabin_num 992 : 전체 3 중 2명 66.67% 실종
Cabin_num 993 : 전체 2 중 1명 50.0% 실종
Cabin_num 994 : 전체 7 중 2명 28.57% 실종
Cabin_num 995 : 전체 3 중 1명 33.33% 실종
Cabin_num 997 : 전체 2 중 2명 100.0% 실종
Cabin_num 998 : 전체 4 중 3명 75.0% 실종
Cabin_num 999 : 전체 6 중 1명 16.67% 실종
Cabin_num 1000 : 전체 6 중 3명 50.0% 실종
Cabin_num 1001 : 전체 3 중 1명 33.33% 실종
Cabin_num 1002 : 전체 6 중 2명 33.33% 실종
Cabin_num 1003 : 전체 2 중 1명 50.0% 실종
Cabin_num 1006 : 전체 3 중 2명 66.67% 실종
Cabin_num 1007 : 전체 4 중 1명 25.0% 실종
Cabin_num 1008 : 전체 3 중 1명 33.33% 실종
Cabin_num 1014 : 전체 3 중 1명 33.33% 실종
Cabin_num 1015 : 전체 8 중 3명 37.5% 실종
Cabin_num 1017 : 전체 1 중 1명 100.0% 실종
Cabin_num 1018 : 전체 3 중 1명 33.33% 실종
Cabin_num 1019 : 전체 4 중 3명 75.0% 실종
Cabin_num 1020 : 전체 5 중 2명 40.0% 실종
Cabin_num 1021 : 전체 2 중 2명 100.0% 실종
Cabin_num 1022 : 전체 2 중 1명 50.0% 실종
Cabin_num 1023 : 전체 9 중 1명 11.11% 실종
Cabin_num 1024 : 전체 2 중 1명 50.0% 실종
Cabin_num 1026 : 전체 8 중 5명 62.5% 실종
Cabin_num 1027 : 전체 2 중 1명 50.0% 실종
Cabin_num 1028 : 전체 7 중 1명 14.29% 실종
Cabin_num 1030 : 전체 4 중 2명 50.0% 실종
Cabin_num 1031 : 전체 2 중 1명 50.0% 실종
Cabin_num 1032 : 전체 6 중 3명 50.0% 실종
Cabin_num 1033 : 전체 3 중 1명 33.33% 실종
Cabin_num 1034 : 전체 3 중 2명 66.67% 실종
Cabin_num 1035 : 전체 2 중 2명 100.0% 실종
Cabin_num 1036 : 전체 3 중 1명 33.33% 실종
Cabin_num 1037 : 전체 6 중 3명 50.0% 실종
Cabin_num 1038 : 전체 4 중 1명 25.0% 실종
Cabin_num 1041 : 전체 4 중 3명 75.0% 실종
Cabin_num 1044 : 전체 5 중 2명 40.0% 실종
Cabin_num 1045 : 전체 5 중 3명 60.0% 실종
Cabin_num 1046 : 전체 12 중 6명 50.0% 실종
Cabin_num 1047 : 전체 5 중 2명 40.0% 실종
Cabin_num 1048 : 전체 1 중 1명 100.0% 실종
Cabin_num 1049 : 전체 1 중 1명 100.0% 실종
Cabin_num 1050 : 전체 7 중 1명 14.29% 실종
Cabin_num 1051 : 전체 1 중 1명 100.0% 실종
Cabin_num 1052 : 전체 3 중 1명 33.33% 실종
Cabin_num 1054 : 전체 1 중 1명 100.0% 실종
Cabin_num 1055 : 전체 4 중 1명 25.0% 실종
Cabin_num 1056 : 전체 3 중 2명 66.67% 실종
Cabin_num 1058 : 전체 3 중 2명 66.67% 실종
Cabin_num 1059 : 전체 4 중 1명 25.0% 실종
Cabin_num 1060 : 전체 4 중 3명 75.0% 실종
Cabin_num 1061 : 전체 5 중 3명 60.0% 실종
Cabin_num 1062 : 전체 2 중 1명 50.0% 실종
Cabin_num 1063 : 전체 4 중 2명 50.0% 실종
Cabin_num 1065 : 전체 2 중 1명 50.0% 실종
Cabin_num 1066 : 전체 1 중 1명 100.0% 실종
Cabin_num 1067 : 전체 4 중 2명 50.0% 실종
Cabin_num 1068 : 전체 1 중 1명 100.0% 실종
Cabin_num 1069 : 전체 2 중 1명 50.0% 실종
Cabin_num 1070 : 전체 3 중 1명 33.33% 실종
Cabin_num 1071 : 전체 3 중 1명 33.33% 실종
Cabin_num 1073 : 전체 5 중 2명 40.0% 실종
Cabin_num 1074 : 전체 2 중 1명 50.0% 실종
Cabin_num 1075 : 전체 3 중 1명 33.33% 실종
Cabin_num 1077 : 전체 5 중 4명 80.0% 실종
Cabin_num 1078 : 전체 3 중 1명 33.33% 실종
Cabin_num 1079 : 전체 4 중 1명 25.0% 실종
Cabin_num 1080 : 전체 2 중 2명 100.0% 실종

Cabin_num 1083 : 전체 4 중 1명 25.0% 실종
Cabin_num 1085 : 전체 2 중 1명 50.0% 실종
Cabin_num 1086 : 전체 4 중 1명 25.0% 실종
Cabin_num 1087 : 전체 6 중 1명 16.67% 실종
Cabin_num 1088 : 전체 5 중 3명 60.0% 실종
Cabin_num 1089 : 전체 3 중 1명 33.33% 실종
Cabin_num 1094 : 전체 3 중 1명 33.33% 실종
Cabin_num 1095 : 전체 4 중 1명 25.0% 실종
Cabin_num 1096 : 전체 2 중 1명 50.0% 실종
Cabin_num 1098 : 전체 5 중 1명 20.0% 실종
Cabin_num 1099 : 전체 3 중 3명 100.0% 실종
Cabin_num 1100 : 전체 4 중 1명 25.0% 실종
Cabin_num 1102 : 전체 4 중 2명 50.0% 실종
Cabin_num 1103 : 전체 1 중 1명 100.0% 실종
Cabin_num 1104 : 전체 4 중 3명 75.0% 실종
Cabin_num 1105 : 전체 3 중 1명 33.33% 실종
Cabin_num 1106 : 전체 3 중 1명 33.33% 실종
Cabin_num 1107 : 전체 1 중 1명 100.0% 실종
Cabin_num 1108 : 전체 8 중 3명 37.5% 실종
Cabin_num 1109 : 전체 6 중 5명 83.33% 실종
Cabin_num 1111 : 전체 4 중 2명 50.0% 실종
Cabin_num 1112 : 전체 3 중 2명 66.67% 실종
Cabin_num 1113 : 전체 4 중 3명 75.0% 실종
Cabin_num 1114 : 전체 5 중 1명 20.0% 실종
Cabin_num 1115 : 전체 3 중 2명 66.67% 실종
Cabin_num 1116 : 전체 2 중 1명 50.0% 실종
Cabin_num 1117 : 전체 3 중 1명 33.33% 실종
Cabin_num 1118 : 전체 6 중 3명 50.0% 실종
Cabin_num 1120 : 전체 3 중 1명 33.33% 실종
Cabin_num 1121 : 전체 2 중 2명 100.0% 실종
Cabin_num 1122 : 전체 4 중 1명 25.0% 실종
Cabin_num 1124 : 전체 3 중 3명 100.0% 실종
Cabin_num 1125 : 전체 1 중 1명 100.0% 실종
Cabin_num 1126 : 전체 5 중 1명 20.0% 실종
Cabin_num 1128 : 전체 2 중 1명 50.0% 실종
Cabin_num 1129 : 전체 3 중 1명 33.33% 실종
Cabin_num 1131 : 전체 6 중 4명 66.67% 실종
Cabin_num 1132 : 전체 5 중 3명 60.0% 실종
Cabin_num 1133 : 전체 2 중 1명 50.0% 실종
Cabin_num 1134 : 전체 2 중 1명 50.0% 실종
Cabin_num 1135 : 전체 4 중 3명 75.0% 실종
Cabin_num 1136 : 전체 3 중 1명 33.33% 실종
Cabin_num 1137 : 전체 5 중 3명 60.0% 실종
Cabin_num 1138 : 전체 3 중 2명 66.67% 실종
Cabin_num 1139 : 전체 2 중 1명 50.0% 실종
Cabin_num 1140 : 전체 5 중 2명 40.0% 실종
Cabin_num 1141 : 전체 4 중 3명 75.0% 실종
Cabin_num 1143 : 전체 4 중 3명 75.0% 실종
Cabin_num 1145 : 전체 4 중 1명 25.0% 실종
Cabin_num 1146 : 전체 5 중 1명 20.0% 실종
Cabin_num 1147 : 전체 3 중 1명 33.33% 실종
Cabin_num 1148 : 전체 4 중 1명 25.0% 실종
Cabin_num 1149 : 전체 1 중 1명 100.0% 실종
Cabin_num 1150 : 전체 5 중 3명 60.0% 실종
Cabin_num 1154 : 전체 4 중 2명 50.0% 실종
Cabin_num 1155 : 전체 3 중 2명 66.67% 실종
Cabin_num 1156 : 전체 5 중 1명 20.0% 실종
Cabin_num 1159 : 전체 3 중 2명 66.67% 실종
Cabin_num 1160 : 전체 4 중 2명 50.0% 실종
Cabin_num 1162 : 전체 4 중 1명 25.0% 실종
Cabin_num 1163 : 전체 4 중 4명 100.0% 실종
Cabin_num 1165 : 전체 2 중 2명 100.0% 실종
Cabin_num 1166 : 전체 3 중 3명 100.0% 실종
Cabin_num 1167 : 전체 4 중 1명 25.0% 실종
Cabin_num 1168 : 전체 3 중 1명 33.33% 실종
Cabin_num 1169 : 전체 2 중 1명 50.0% 실종
Cabin_num 1171 : 전체 3 중 2명 66.67% 실종
Cabin_num 1172 : 전체 3 중 2명 66.67% 실종
Cabin_num 1173 : 전체 1 중 1명 100.0% 실종
Cabin_num 1174 : 전체 3 중 3명 100.0% 실종
Cabin_num 1175 : 전체 3 중 1명 33.33% 실종
Cabin_num 1178 : 전체 2 중 1명 50.0% 실종
Cabin_num 1179 : 전체 3 중 3명 100.0% 실종
Cabin_num 1180 : 전체 1 중 1명 100.0% 실종
Cabin_num 1181 : 전체 3 중 2명 66.67% 실종
Cabin_num 1183 : 전체 4 중 2명 50.0% 실종
Cabin_num 1184 : 전체 2 중 1명 50.0% 실종
Cabin_num 1185 : 전체 4 중 2명 50.0% 실종
Cabin_num 1186 : 전체 2 중 1명 50.0% 실종
Cabin_num 1187 : 전체 2 중 2명 100.0% 실종
Cabin_num 1188 : 전체 3 중 3명 100.0% 실종
Cabin_num 1189 : 전체 2 중 1명 50.0% 실종
Cabin_num 1190 : 전체 3 중 2명 66.67% 실종
Cabin_num 1191 : 전체 3 중 2명 66.67% 실종
Cabin_num 1192 : 전체 4 중 3명 75.0% 실종
Cabin_num 1193 : 전체 1 중 1명 100.0% 실종
Cabin_num 1194 : 전체 10 중 8명 80.0% 실종
Cabin_num 1195 : 전체 3 중 2명 66.67% 실종
Cabin_num 1197 : 전체 3 중 2명 66.67% 실종
Cabin_num 1198 : 전체 2 중 1명 50.0% 실종
Cabin_num 1199 : 전체 2 중 2명 100.0% 실종
Cabin_num 1200 : 전체 4 중 2명 50.0% 실종
Cabin_num 1201 : 전체 3 중 1명 33.33% 실종
Cabin_num 1202 : 전체 2 중 1명 50.0% 실종
Cabin_num 1203 : 전체 3 중 2명 66.67% 실종
Cabin_num 1204 : 전체 4 중 4명 100.0% 실종
Cabin_num 1205 : 전체 5 중 4명 80.0% 실종
Cabin_num 1206 : 전체 4 중 3명 75.0% 실종
Cabin_num 1208 : 전체 3 중 3명 100.0% 실종
Cabin_num 1209 : 전체 3 중 1명 33.33% 실종
Cabin_num 1210 : 전체 4 중 3명 75.0% 실종
Cabin_num 1211 : 전체 1 중 1명 100.0% 실종
Cabin_num 1212 : 전체 3 중 3명 100.0% 실종
Cabin_num 1214 : 전체 3 중 3명 100.0% 실종
Cabin_num 1215 : 전체 5 중 2명 40.0% 실종
Cabin_num 1216 : 전체 4 중 1명 25.0% 실종
Cabin_num 1217 : 전체 4 중 2명 50.0% 실종
Cabin_num 1218 : 전체 2 중 2명 100.0% 실종
Cabin_num 1221 : 전체 2 중 1명 50.0% 실종
Cabin_num 1223 : 전체 4 중 3명 75.0% 실종
Cabin_num 1224 : 전체 3 중 3명 100.0% 실종
Cabin_num 1225 : 전체 3 중 2명 66.67% 실종
Cabin_num 1227 : 전체 2 중 1명 50.0% 실종
Cabin_num 1228 : 전체 3 중 2명 66.67% 실종
Cabin_num 1229 : 전체 4 중 2명 50.0% 실종
Cabin_num 1230 : 전체 4 중 3명 75.0% 실종
Cabin_num 1231 : 전체 4 중 2명 50.0% 실종
Cabin_num 1232 : 전체 3 중 2명 66.67% 실종
Cabin_num 1233 : 전체 5 중 2명 40.0% 실종
Cabin_num 1234 : 전체 3 중 1명 33.33% 실종
Cabin_num 1235 : 전체 3 중 1명 33.33% 실종
Cabin_num 1236 : 전체 3 중 2명 66.67% 실종
Cabin_num 1237 : 전체 5 중 3명 60.0% 실종
Cabin_num 1238 : 전체 3 중 1명 33.33% 실종
Cabin_num 1239 : 전체 3 중 2명 66.67% 실종
Cabin_num 1240 : 전체 3 중 2명 66.67% 실종
Cabin_num 1242 : 전체 6 중 4명 66.67% 실종
Cabin_num 1243 : 전체 2 중 1명 50.0% 실종
Cabin_num 1244 : 전체 3 중 3명 100.0% 실종
Cabin_num 1245 : 전체 4 중 2명 50.0% 실종
Cabin_num 1247 : 전체 2 중 1명 50.0% 실종
Cabin_num 1248 : 전체 4 중 3명 75.0% 실종
Cabin_num 1249 : 전체 2 중 1명 50.0% 실종
Cabin_num 1251 : 전체 4 중 1명 25.0% 실종
Cabin_num 1252 : 전체 1 중 1명 100.0% 실종
Cabin_num 1253 : 전체 5 중 3명 60.0% 실종
Cabin_num 1254 : 전체 4 중 3명 75.0% 실종
Cabin_num 1255 : 전체 1 중 1명 100.0% 실종
Cabin_num 1256 : 전체 2 중 2명 100.0% 실종
Cabin_num 1257 : 전체 4 중 1명 25.0% 실종
Cabin_num 1258 : 전체 2 중 1명 50.0% 실종
Cabin_num 1259 : 전체 4 중 1명 25.0% 실종
Cabin_num 1260 : 전체 3 중 2명 66.67% 실종
Cabin_num 1261 : 전체 4 중 4명 100.0% 실종
Cabin_num 1264 : 전체 3 중 2명 66.67% 실종
Cabin_num 1265 : 전체 2 중 1명 50.0% 실종
Cabin_num 1266 : 전체 3 중 3명 100.0% 실종
Cabin_num 1267 : 전체 7 중 3명 42.86% 실종
Cabin_num 1268 : 전체 7 중 3명 42.86% 실종
Cabin_num 1269 : 전체 2 중 2명 100.0% 실종
Cabin_num 1270 : 전체 4 중 3명 75.0% 실종
Cabin_num 1271 : 전체 4 중 3명 75.0% 실종
Cabin_num 1272 : 전체 3 중 2명 66.67% 실종
Cabin_num 1274 : 전체 4 중 3명 75.0% 실종
Cabin_num 1275 : 전체 4 중 2명 50.0% 실종
Cabin_num 1276 : 전체 4 중 3명 75.0% 실종
Cabin_num 1278 : 전체 7 중 4명 57.14% 실종
Cabin_num 1279 : 전체 4 중 1명 25.0% 실종
Cabin_num 1281 : 전체 2 중 2명 100.0% 실종
Cabin_num 1283 : 전체 2 중 2명 100.0% 실종
Cabin_num 1284 : 전체 4 중 3명 75.0% 실종
Cabin_num 1286 : 전체 2 중 1명 50.0% 실종
Cabin_num 1287 : 전체 5 중 1명 20.0% 실종
Cabin_num 1288 : 전체 2 중 2명 100.0% 실종
Cabin_num 1289 : 전체 6 중 3명 50.0% 실종
Cabin_num 1290 : 전체 3 중 2명 66.67% 실종
Cabin_num 1292 : 전체 3 중 1명 33.33% 실종
Cabin_num 1293 : 전체 4 중 2명 50.0% 실종
Cabin_num 1294 : 전체 5 중 2명 40.0% 실종
Cabin_num 1295 : 전체 2 중 1명 50.0% 실종
Cabin_num 1296 : 전체 2 중 1명 50.0% 실종
Cabin_num 1297 : 전체 3 중 3명 100.0% 실종
Cabin_num 1298 : 전체 2 중 2명 100.0% 실종
Cabin_num 1299 : 전체 3 중 3명 100.0% 실종
Cabin_num 1300 : 전체 4 중 2명 50.0% 실종
Cabin_num 1301 : 전체 2 중 2명 100.0% 실종
Cabin_num 1302 : 전체 3 중 3명 100.0% 실종
Cabin_num 1304 : 전체 3 중 3명 100.0% 실종
Cabin_num 1305 : 전체 3 중 3명 100.0% 실종
Cabin_num 1306 : 전체 4 중 1명 25.0% 실종
Cabin_num 1307 : 전체 2 중 2명 100.0% 실종
Cabin_num 1308 : 전체 4 중 3명 75.0% 실종
Cabin_num 1309 : 전체 2 중 1명 50.0% 실종
Cabin_num 1310 : 전체 3 중 2명 66.67% 실종
Cabin_num 1311 : 전체 2 중 1명 50.0% 실종
Cabin_num 1312 : 전체 3 중 3명 100.0% 실종
Cabin_num 1313 : 전체 7 중 2명 28.57% 실종
Cabin_num 1314 : 전체 3 중 2명 66.67% 실종
Cabin_num 1315 : 전체 4 중 2명 50.0% 실종
Cabin_num 1316 : 전체 6 중 1명 16.67% 실종
Cabin_num 1317 : 전체 5 중 4명 80.0% 실종
Cabin_num 1318 : 전체 4 중 1명 25.0% 실종
Cabin_num 1319 : 전체 9 중 3명 33.33% 실종
Cabin_num 1320 : 전체 5 중 3명 60.0% 실종
Cabin_num 1321 : 전체 2 중 2명 100.0% 실종
Cabin_num 1322 : 전체 5 중 3명 60.0% 실종
Cabin_num 1323 : 전체 3 중 1명 33.33% 실종
Cabin_num 1325 : 전체 2 중 1명 50.0% 실종
Cabin_num 1327 : 전체 2 중 1명 50.0% 실종
Cabin_num 1328 : 전체 3 중 3명 100.0% 실종
Cabin_num 1329 : 전체 2 중 2명 100.0% 실종
Cabin_num 1330 : 전체 5 중 2명 40.0% 실종
Cabin_num 1331 : 전체 4 중 3명 75.0% 실종
Cabin_num 1332 : 전체 3 중 1명 33.33% 실종
Cabin_num 1333 : 전체 2 중 2명 100.0% 실종
Cabin_num 1334 : 전체 5 중 2명 40.0% 실종
Cabin_num 1335 : 전체 1 중 1명 100.0% 실종
Cabin_num 1336 : 전체 3 중 1명 33.33% 실종
Cabin_num 1337 : 전체 3 중 2명 66.67% 실종
Cabin_num 1338 : 전체 2 중 1명 50.0% 실종
Cabin_num 1339 : 전체 6 중 3명 50.0% 실종
Cabin_num 1341 : 전체 4 중 4명 100.0% 실종
Cabin_num 1342 : 전체 1 중 1명 100.0% 실종
Cabin_num 1343 : 전체 3 중 2명 66.67% 실종
Cabin_num 1344 : 전체 3 중 2명 66.67% 실종
Cabin_num 1346 : 전체 4 중 2명 50.0% 실종
Cabin_num 1347 : 전체 2 중 1명 50.0% 실종
Cabin_num 1348 : 전체 2 중 1명 50.0% 실종
Cabin_num 1350 : 전체 3 중 3명 100.0% 실종
Cabin_num 1351 : 전체 5 중 2명 40.0% 실종
Cabin_num 1352 : 전체 3 중 1명 33.33% 실종
Cabin_num 1353 : 전체 2 중 2명 100.0% 실종
Cabin_num 1354 : 전체 3 중 3명 100.0% 실종
Cabin_num 1355 : 전체 2 중 2명 100.0% 실종
Cabin_num 1356 : 전체 4 중 2명 50.0% 실종
Cabin_num 1357 : 전체 2 중 1명 50.0% 실종
Cabin_num 1358 : 전체 4 중 3명 75.0% 실종
Cabin_num 1359 : 전체 2 중 1명 50.0% 실종
Cabin_num 1360 : 전체 2 중 1명 50.0% 실종
Cabin_num 1361 : 전체 3 중 2명 66.67% 실종
Cabin_num 1362 : 전체 3 중 1명 33.33% 실종
Cabin_num 1363 : 전체 3 중 1명 33.33% 실종
Cabin_num 1364 : 전체 6 중 5명 83.33% 실종
Cabin_num 1365 : 전체 3 중 2명 66.67% 실종
Cabin_num 1366 : 전체 2 중 2명 100.0% 실종
Cabin_num 1368 : 전체 8 중 5명 62.5% 실종
Cabin_num 1369 : 전체 2 중 2명 100.0% 실종
Cabin_num 1370 : 전체 3 중 1명 33.33% 실종
Cabin_num 1371 : 전체 2 중 1명 50.0% 실종
Cabin_num 1372 : 전체 4 중 3명 75.0% 실종
Cabin_num 1373 : 전체 1 중 1명 100.0% 실종
Cabin_num 1374 : 전체 2 중 2명 100.0% 실종
Cabin_num 1375 : 전체 3 중 2명 66.67% 실종
Cabin_num 1376 : 전체 1 중 1명 100.0% 실종
Cabin_num 1377 : 전체 4 중 2명 50.0% 실종
Cabin_num 1378 : 전체 3 중 1명 33.33% 실종
Cabin_num 1379 : 전체 3 중 2명 66.67% 실종
Cabin_num 1380 : 전체 2 중 2명 100.0% 실종
Cabin_num 1381 : 전체 3 중 2명 66.67% 실종

Cabin_num 1382 : 전체 4 중 3명 75.0% 실종
Cabin_num 1383 : 전체 4 중 2명 50.0% 실종
Cabin_num 1384 : 전체 2 중 2명 100.0% 실종
Cabin_num 1385 : 전체 2 중 1명 50.0% 실종
Cabin_num 1386 : 전체 2 중 2명 100.0% 실종
Cabin_num 1387 : 전체 5 중 1명 20.0% 실종
Cabin_num 1388 : 전체 2 중 1명 50.0% 실종
Cabin_num 1390 : 전체 2 중 1명 50.0% 실종
Cabin_num 1391 : 전체 3 중 1명 33.33% 실종
Cabin_num 1392 : 전체 4 중 2명 50.0% 실종
Cabin_num 1393 : 전체 2 중 1명 50.0% 실종
Cabin_num 1395 : 전체 3 중 3명 100.0% 실종
Cabin_num 1396 : 전체 5 중 4명 80.0% 실종
Cabin_num 1397 : 전체 3 중 2명 66.67% 실종
Cabin_num 1398 : 전체 3 중 1명 33.33% 실종
Cabin_num 1399 : 전체 3 중 3명 100.0% 실종
Cabin_num 1400 : 전체 3 중 1명 33.33% 실종
Cabin_num 1402 : 전체 4 중 2명 50.0% 실종
Cabin_num 1403 : 전체 1 중 1명 100.0% 실종
Cabin_num 1405 : 전체 2 중 1명 50.0% 실종
Cabin_num 1406 : 전체 2 중 2명 100.0% 실종
Cabin_num 1407 : 전체 1 중 1명 100.0% 실종
Cabin_num 1408 : 전체 3 중 3명 100.0% 실종
Cabin_num 1409 : 전체 4 중 3명 75.0% 실종
Cabin_num 1410 : 전체 4 중 2명 50.0% 실종
Cabin_num 1411 : 전체 12 중 7명 58.33% 실종
Cabin_num 1412 : 전체 3 중 1명 33.33% 실종
Cabin_num 1413 : 전체 3 중 3명 100.0% 실종
Cabin_num 1414 : 전체 2 중 1명 50.0% 실종
Cabin_num 1415 : 전체 1 중 1명 100.0% 실종
Cabin_num 1416 : 전체 7 중 5명 71.43% 실종
Cabin_num 1417 : 전체 4 중 3명 75.0% 실종
Cabin_num 1418 : 전체 6 중 3명 50.0% 실종
Cabin_num 1419 : 전체 3 중 1명 33.33% 실종
Cabin_num 1420 : 전체 3 중 3명 100.0% 실종
Cabin_num 1421 : 전체 3 중 2명 66.67% 실종
Cabin_num 1424 : 전체 2 중 1명 50.0% 실종
Cabin_num 1425 : 전체 1 중 1명 100.0% 실종
Cabin_num 1426 : 전체 2 중 1명 50.0% 실종
Cabin_num 1427 : 전체 3 중 1명 33.33% 실종
Cabin_num 1428 : 전체 2 중 2명 100.0% 실종
Cabin_num 1429 : 전체 3 중 1명 33.33% 실종
Cabin_num 1430 : 전체 3 중 1명 33.33% 실종
Cabin_num 1431 : 전체 4 중 2명 50.0% 실종
Cabin_num 1432 : 전체 5 중 1명 20.0% 실종
Cabin_num 1433 : 전체 6 중 5명 83.33% 실종
Cabin_num 1434 : 전체 3 중 2명 66.67% 실종
Cabin_num 1435 : 전체 3 중 1명 33.33% 실종
Cabin_num 1436 : 전체 4 중 2명 50.0% 실종
Cabin_num 1437 : 전체 3 중 2명 66.67% 실종
Cabin_num 1438 : 전체 2 중 1명 50.0% 실종
Cabin_num 1439 : 전체 3 중 3명 100.0% 실종
Cabin_num 1441 : 전체 2 중 1명 50.0% 실종
Cabin_num 1442 : 전체 5 중 3명 60.0% 실종
Cabin_num 1444 : 전체 2 중 2명 100.0% 실종
Cabin_num 1445 : 전체 2 중 2명 100.0% 실종
Cabin_num 1446 : 전체 2 중 1명 50.0% 실종
Cabin_num 1447 : 전체 2 중 2명 100.0% 실종
Cabin_num 1448 : 전체 7 중 3명 42.86% 실종
Cabin_num 1449 : 전체 2 중 1명 50.0% 실종
Cabin_num 1450 : 전체 5 중 3명 60.0% 실종
Cabin_num 1452 : 전체 3 중 3명 100.0% 실종
Cabin_num 1453 : 전체 6 중 4명 66.67% 실종
Cabin_num 1454 : 전체 2 중 1명 50.0% 실종
Cabin_num 1455 : 전체 6 중 5명 83.33% 실종
Cabin_num 1456 : 전체 1 중 1명 100.0% 실종
Cabin_num 1457 : 전체 4 중 3명 75.0% 실종
Cabin_num 1458 : 전체 4 중 3명 75.0% 실종
Cabin_num 1459 : 전체 2 중 1명 50.0% 실종
Cabin_num 1460 : 전체 7 중 3명 42.86% 실종
Cabin_num 1461 : 전체 6 중 4명 66.67% 실종
Cabin_num 1462 : 전체 2 중 2명 100.0% 실종
Cabin_num 1463 : 전체 3 중 2명 66.67% 실종
Cabin_num 1464 : 전체 2 중 2명 100.0% 실종
Cabin_num 1465 : 전체 4 중 2명 50.0% 실종
Cabin_num 1466 : 전체 5 중 3명 60.0% 실종
Cabin_num 1467 : 전체 4 중 2명 50.0% 실종
Cabin_num 1468 : 전체 3 중 2명 66.67% 실종
Cabin_num 1469 : 전체 2 중 2명 100.0% 실종
Cabin_num 1470 : 전체 4 중 2명 50.0% 실종
Cabin_num 1471 : 전체 4 중 4명 100.0% 실종
Cabin_num 1472 : 전체 1 중 1명 100.0% 실종
Cabin_num 1473 : 전체 2 중 1명 50.0% 실종
Cabin_num 1474 : 전체 1 중 1명 100.0% 실종
Cabin_num 1475 : 전체 2 중 2명 100.0% 실종
Cabin_num 1476 : 전체 13 중 5명 38.46% 실종
Cabin_num 1478 : 전체 1 중 1명 100.0% 실종
Cabin_num 1479 : 전체 3 중 2명 66.67% 실종
Cabin_num 1480 : 전체 2 중 2명 100.0% 실종
Cabin_num 1481 : 전체 1 중 1명 100.0% 실종
Cabin_num 1483 : 전체 2 중 2명 100.0% 실종
Cabin_num 1484 : 전체 3 중 1명 33.33% 실종
Cabin_num 1485 : 전체 4 중 3명 75.0% 실종
Cabin_num 1486 : 전체 3 중 3명 100.0% 실종
Cabin_num 1487 : 전체 2 중 1명 50.0% 실종
Cabin_num 1488 : 전체 4 중 2명 50.0% 실종
Cabin_num 1489 : 전체 3 중 2명 66.67% 실종
Cabin_num 1490 : 전체 5 중 3명 60.0% 실종
Cabin_num 1491 : 전체 3 중 2명 66.67% 실종
Cabin_num 1492 : 전체 1 중 1명 100.0% 실종
Cabin_num 1493 : 전체 6 중 2명 33.33% 실종
Cabin_num 1494 : 전체 7 중 3명 42.86% 실종
Cabin_num 1495 : 전체 2 중 1명 50.0% 실종
Cabin_num 1496 : 전체 3 중 1명 33.33% 실종
Cabin_num 1497 : 전체 4 중 2명 50.0% 실종
Cabin_num 1498 : 전체 5 중 2명 40.0% 실종
Cabin_num 1499 : 전체 2 중 2명 100.0% 실종
Cabin_num 1500 : 전체 3 중 2명 66.67% 실종
Cabin_num 1502 : 전체 4 중 2명 50.0% 실종
Cabin_num 1503 : 전체 2 중 1명 50.0% 실종
Cabin_num 1504 : 전체 2 중 1명 50.0% 실종
Cabin_num 1506 : 전체 2 중 1명 50.0% 실종
Cabin_num 1507 : 전체 3 중 2명 66.67% 실종
Cabin_num 1508 : 전체 3 중 2명 66.67% 실종
Cabin_num 1509 : 전체 2 중 1명 50.0% 실종
Cabin_num 1513 : 전체 2 중 1명 50.0% 실종
Cabin_num 1514 : 전체 1 중 1명 100.0% 실종
Cabin_num 1517 : 전체 2 중 2명 100.0% 실종
Cabin_num 1519 : 전체 1 중 1명 100.0% 실종
Cabin_num 1521 : 전체 1 중 1명 100.0% 실종
Cabin_num 1522 : 전체 2 중 1명 50.0% 실종
Cabin_num 1523 : 전체 2 중 2명 100.0% 실종
Cabin_num 1525 : 전체 1 중 1명 100.0% 실종
Cabin_num 1526 : 전체 1 중 1명 100.0% 실종
Cabin_num 1528 : 전체 2 중 2명 100.0% 실종
Cabin_num 1529 : 전체 1 중 1명 100.0% 실종
Cabin_num 1532 : 전체 1 중 1명 100.0% 실종
Cabin_num 1533 : 전체 2 중 2명 100.0% 실종
Cabin_num 1535 : 전체 2 중 1명 50.0% 실종
Cabin_num 1537 : 전체 2 중 2명 100.0% 실종
Cabin_num 1538 : 전체 1 중 1명 100.0% 실종
Cabin_num 1539 : 전체 1 중 1명 100.0% 실종
Cabin_num 1540 : 전체 2 중 2명 100.0% 실종
Cabin_num 1541 : 전체 3 중 2명 66.67% 실종
Cabin_num 1543 : 전체 2 중 1명 50.0% 실종
Cabin_num 1545 : 전체 3 중 1명 33.33% 실종
Cabin_num 1546 : 전체 2 중 1명 50.0% 실종
Cabin_num 1547 : 전체 1 중 1명 100.0% 실종
Cabin_num 1549 : 전체 1 중 1명 100.0% 실종
Cabin_num 1550 : 전체 3 중 1명 33.33% 실종
Cabin_num 1552 : 전체 2 중 2명 100.0% 실종
Cabin_num 1553 : 전체 4 중 2명 50.0% 실종
Cabin_num 1554 : 전체 1 중 1명 100.0% 실종
Cabin_num 1555 : 전체 4 중 3명 75.0% 실종
Cabin_num 1557 : 전체 2 중 1명 50.0% 실종
Cabin_num 1559 : 전체 1 중 1명 100.0% 실종
Cabin_num 1560 : 전체 2 중 2명 100.0% 실종
Cabin_num 1561 : 전체 5 중 4명 80.0% 실종

In [38]:
# # 비율 확인

# def died_persent(column_name):
#     df_d0 =df_died.groupby(column_name).count()['PassengerId'][0] #
#     df_d1 = df_died.groupby(column_name).count()['PassengerId'][1] #
#     df_0 = df.groupby(column_name).count()['PassengerId'][0] # 
#     df_1 = df.groupby(column_name).count()['PassengerId'][1] #
#     print(f'{column_name} 0 : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
#     print(f'{column_name} 1 : 전체 {df_1} 중 {df_d1}명 {round(df_d1/df_1*100,2)}% 실종')

# died_persent('CryoSleep')

CryoSleep 0 : 전체 5568 중 3741명 67.19% 실종
CryoSleep 1 : 전체 3125 중 574명 18.37% 실종

In [29]:
574/3125*100

18.368000000000002

### 도착하지 못한 사람
Transported == 0
1. Cabin_port
    - 좌현(P,0) 전체 4403 중 2405 명 54.6% 실종 
    - 우현(S,0) 전체 4290 중 1910 명 44.5% 실종
2. HomePlanet
    - 비슷한 비율로 실종된것 처럼 보인다 
    - Earth:0 : 전체 4714 중 2719 명 57.7% 실종 
    - Mars:1 : 전체 2175 중 740 명 34.0% 실종 
    - Europa:2 : 전체 1804 중 856 명 47.5% 실종 
3. CryoSleep(방 밖으로 나가지 않는 사람)
    - CryoSleep 0 : 전체 5568 중 3741명 67.19% 실종
    - CryoSleep 1 : 전체 3125 중 574명 18.37% 실종
4. Cabin
    - Cabin 0 : 전체 256 중 129명 50.39% 실종
    - Cabin 1 : 전체 779 중 207명 26.57% 실종
    - Cabin 2 : 전체 747 중 239명 31.99% 실종
    - Cabin 3 : 전체 495 중 282명 56.97% 실종
    - Cabin 4 : 전체 1025 중 630명 61.46% 실종
    - Cabin 5 : 전체 2821 중 1583명 56.11% 실종
    - Cabin 6 : 전체 2564 중 1240명 48.36% 실종
    - Cabin 7 : 전체 6 중 5명 83.33% 실종
    

모든 퍼센트는 소수 2째자리 반올림

In [7]:
def died_persent(column_name):
    
    for i in range(len(df_died.groupby(column_name))):
        try:
            df_d0 = df_died.groupby(column_name).count()['PassengerId'][i] 
            df_0 = df.groupby(column_name).count()['PassengerId'][i]  
            print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
        except:
            pass

died_persent('Age')

Age 0 : 전체 178 중 34명 19.1% 실종
Age 1 : 전체 67 중 18명 26.87% 실종
Age 2 : 전체 75 중 22명 29.33% 실종
Age 3 : 전체 75 중 16명 21.33% 실종
Age 4 : 전체 71 중 18명 25.35% 실종
Age 5 : 전체 34 중 14명 41.18% 실종
Age 6 : 전체 40 중 17명 42.5% 실종
Age 7 : 전체 53 중 21명 39.62% 실종
Age 8 : 전체 50 중 21명 42.0% 실종
Age 9 : 전체 44 중 20명 45.45% 실종
Age 10 : 전체 49 중 21명 42.86% 실종
Age 11 : 전체 49 중 21명 42.86% 실종
Age 12 : 전체 50 중 20명 40.0% 실종
Age 13 : 전체 146 중 73명 50.0% 실종
Age 14 : 전체 156 중 74명 47.44% 실종
Age 15 : 전체 163 중 71명 43.56% 실종
Age 16 : 전체 154 중 73명 47.4% 실종
Age 17 : 전체 166 중 73명 43.98% 실종
Age 18 : 전체 363 중 178명 49.04% 실종
Age 19 : 전체 317 중 161명 50.79% 실종
Age 20 : 전체 284 중 153명 53.87% 실종
Age 21 : 전체 328 중 188명 57.32% 실종
Age 22 : 전체 294 중 159명 54.08% 실종
Age 23 : 전체 292 중 155명 53.08% 실종
Age 24 : 전체 324 중 184명 56.79% 실종
Age 25 : 전체 243 중 126명 51.85% 실종
Age 26 : 전체 268 중 140명 52.24% 실종
Age 27 : 전체 260 중 133명 51.15% 실종
Age 28 : 전체 267 중 117명 43.82% 실종
Age 29 : 전체 231 중 118명 51.08% 실종
Age 30 : 전체 186 중 101명 54.3% 실종
Age 31 : 전체 202 중 119명 58.91% 실종
Age 32 : 전체 199 중 112명 56.28% 실종
Age 33 : 전체 181 중 97명 53.59% 실종
Age 34 : 전체 148 중 71명 47.97% 실종
Age 35 : 전체 173 중 84명 48.55% 실종
Age 36 : 전체 178 중 89명 50.0% 실종
Age 37 : 전체 177 중 103명 58.19% 실종
Age 38 : 전체 161 중 90명 55.9% 실종
Age 39 : 전체 138 중 76명 55.07% 실종
Age 40 : 전체 128 중 55명 42.97% 실종
Age 41 : 전체 129 중 62명 48.06% 실종
Age 42 : 전체 119 중 66명 55.46% 실종
Age 43 : 전체 128 중 63명 49.22% 실종
Age 44 : 전체 115 중 52명 45.22% 실종
Age 45 : 전체 89 중 47명 52.81% 실종
Age 46 : 전체 97 중 49명 50.52% 실종
Age 47 : 전체 88 중 41명 46.59% 실종
Age 48 : 전체 72 중 33명 45.83% 실종
Age 49 : 전체 83 중 49명 59.04% 실종
Age 50 : 전체 74 중 37명 50.0% 실종
Age 51 : 전체 59 중 38명 64.41% 실종
Age 52 : 전체 52 중 24명 46.15% 실종
Age 53 : 전체 61 중 31명 50.82% 실종
Age 54 : 전체 67 중 35명 52.24% 실종
Age 55 : 전체 68 중 36명 52.94% 실종
Age 56 : 전체 48 중 26명 54.17% 실종
Age 57 : 전체 46 중 24명 52.17% 실종
Age 58 : 전체 47 중 23명 48.94% 실종
Age 59 : 전체 35 중 8명 22.86% 실종
Age 60 : 전체 34 중 19명 55.88% 실종
Age 61 : 전체 32 중 14명 43.75% 실종
Age 62 : 전체 26 중 13명 50.0% 실종
Age 63 : 전체 26 중 16명 61.54% 실종
Age 64 : 전체 29 중 13명 44.83% 실종
Age 65 : 전체 23 중 16명 69.57% 실종
Age 66 : 전체 7 중 3명 42.86% 실종
Age 67 : 전체 13 중 6명 46.15% 실종
Age 68 : 전체 12 중 4명 33.33% 실종
Age 69 : 전체 6 중 5명 83.33% 실종
Age 70 : 전체 9 중 3명 33.33% 실종
Age 71 : 전체 7 중 4명 57.14% 실종
Age 72 : 전체 4 중 2명 50.0% 실종
Age 73 : 전체 7 중 6명 85.71% 실종
Age 74 : 전체 5 중 2명 40.0% 실종
Age 75 : 전체 4 중 2명 50.0% 실종
Age 76 : 전체 2 중 1명 50.0% 실종
Age 77 : 전체 2 중 1명 50.0% 실종
Age 78 : 전체 3 중 2명 66.67% 실종
Age 79 : 전체 3 중 3명 100.0% 실종

In [12]:
def died_persent(column_name):
    
    for i in range(len(df_died.groupby(column_name))):
        try:
            df_d0 = df_died.groupby(column_name).count()['PassengerId'][i] 
            df_0 = df.groupby(column_name).count()['PassengerId'][i]  
            # print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
            p_died = round(df_d0/df_0*100,2)
            if p_died >= 80:
                print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
                
        except:
            pass

died_persent('Age')

Age 69 : 전체 6 중 5명 83.33% 실종
Age 73 : 전체 7 중 6명 85.71% 실종
Age 79 : 전체 3 중 3명 100.0% 실종

In [13]:
def died_persent(column_name):
    
    for i in range(len(df_died.groupby(column_name))):
        try:
            df_d0 = df_died.groupby(column_name).count()['PassengerId'][i] 
            df_0 = df.groupby(column_name).count()['PassengerId'][i]  
            print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
            p_died = round(df_d0/df_0*100,2)
            #if p_died >= 80:
            #    print(f'{column_name} {i} : 전체 {df_0} 중 {df_d0}명 {round(df_d0/df_0*100,2)}% 실종')
                
        except:
            pass

died_persent('VIP')

VIP 0 : 전체 8494 중 4192명 49.35% 실종
VIP 1 : 전체 199 중 123명 61.81% 실종

In [21]:
df_sortFood = df.sort_values(by=['FoodCourt'])
df_sortFood

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,1,0,0,2,39,0,0,0,0,0,0,Maham Ofracculy,0
5058,6893_01,1,1,1,261,1,2,29,0,0,0,0,0,0,Winork Dreamspric,1
5057,6891_01,2,0,3,215,0,2,27,0,725,0,1660,0,0,Treynx Casty,1
5055,6883_01,0,0,6,1120,1,2,26,0,0,0,1,0,398,Evaned Wolferguson,1
5054,6882_02,2,0,4,438,0,2,53,0,0,0,0,0,0,Giamon Dake,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7635,1969_01,1,0,2,75,1,0,27,0,2160,21066,0,2448,2293,Unukath Sandul,1
2721,3796_01,1,0,1,121,0,0,33,0,90,26830,0,27,703,Dhena Semageary,1
2459,3444_01,1,0,1,131,1,0,33,0,0,27071,0,15,0,Ainoxa Scerodbox,1
927,1292_01,1,0,1,55,1,0,31,1,0,27723,3,202,3146,Scharab Conale,1
1590,2215_01,1,0,0,27,1,0,41,1,0,29813,0,1257,6,Pulchib Quidedbolt,1

In [25]:
food_positive = df_sortFood[df_sortFood['FoodCourt']>0]
food_positive

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
3837,5269_01,0,0,4,336,1,2,21,0,38,1,591,1,31,Mollen Ewisentley,1
1614,2251_02,1,0,0,29,1,2,58,0,2,1,14,2,1153,Zaurion Hoodjuded,0
3552,4898_01,0,0,5,933,1,2,28,0,647,1,32,71,140,Lorian Bertsontry,1
3874,5331_01,0,0,5,1095,0,2,23,0,0,1,292,0,340,Coreen Woodgezalez,0
3501,4807_01,0,0,6,776,0,2,44,0,22,1,0,864,0,Elinda Miley,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7635,1969_01,1,0,2,75,1,0,27,0,2160,21066,0,2448,2293,Unukath Sandul,1
2721,3796_01,1,0,1,121,0,0,33,0,90,26830,0,27,703,Dhena Semageary,1
2459,3444_01,1,0,1,131,1,0,33,0,0,27071,0,15,0,Ainoxa Scerodbox,1
927,1292_01,1,0,1,55,1,0,31,1,0,27723,3,202,3146,Scharab Conale,1
1590,2215_01,1,0,0,27,1,0,41,1,0,29813,0,1257,6,Pulchib Quidedbolt,1

In [29]:
food_positive.describe()

,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
count,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000,3222.000000
mean,0.549348,0.017381,3.861887,537.634389,0.495345,1.476723,31.926133,0.040968,316.337678,1240.317505,244.169770,722.265984,720.984171,0.353507
std,0.664824,0.130705,1.826156,514.074760,0.500056,0.836113,12.895400,0.198248,818.164166,2429.683831,818.165023,1745.971587,1766.406211,0.478133
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,132.000000,0.000000,1.000000,22.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,5.000000,300.500000,0.000000,2.000000,29.000000,0.000000,1.000000,413.000000,1.000000,39.500000,41.500000,0.000000
75%,1.000000,0.000000,5.000000,894.000000,1.000000,2.000000,40.000000,0.000000,216.750000,1185.500000,143.750000,632.500000,605.750000,1.000000
max,2.000000,1.000000,7.000000,1894.000000,1.000000,2.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,1.000000

In [51]:
food_positive['FoodCourt'].quantile(.25)

45.0

In [33]:
### FoodCourt 에서 3사분위수 이상의 금액을 지불한 사람들 ###
### 즉, FoodCourt에서 전체 금액 분포 중 75퍼센트 이상의 금액을 지불한 사람들 ###

food_75per = food_positive[food_positive['FoodCourt']>=1185]
food_75per
food_75per.groupby('Transported').count()

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
Transported,,,,,,,,,,,,,,,
0,354,354,354,354,354,354,354,354,354,354,354,354,354,354,343
1,452,452,452,452,452,452,452,452,452,452,452,452,452,452,442

In [38]:
food_75per.iloc[:,[0,10,15]].groupby('Transported').count()

             PassengerId  FoodCourt
Transported
0                    354        354
1                    452        452

In [42]:
def per_count(per):
    df_sortFood = df.sort_values(by=['FoodCourt'])
    food_positive = df_sortFood[df_sortFood['FoodCourt']>0]

    if per == 25:
        food_per = food_positive[food_positive['FoodCourt']>=45]
        print(food_per.iloc[:,[10,15]].groupby('Transported').count())
    elif per == 50:
        food_per = food_positive[food_positive['FoodCourt']>=413]
        print(food_per.iloc[:,[10,15]].groupby('Transported').count())
    elif per == 75:
        food_per = food_positive[food_positive['FoodCourt']>=1185]
        print(food_per.iloc[:,[10,15]].groupby('Transported').count())
    else:
        pass

per_count(25)
per_count(50)
per_count(75)

             FoodCourt
Transported
0                 1442
1                  977
             FoodCourt
Transported
0                  849
1                  762
             FoodCourt
Transported
0                  354
1                  452

In [85]:
def per_count(per, col_name):
    
    df_sort = df.sort_values(by=[col_name])
    df_positive = df_sort[df_sort[col_name]>0]
    
    df_per = df_positive[df_positive[col_name]>= df_positive[col_name].quantile(per)]
    
    if col_name == 'FoodCourt':
        count = df_per.iloc[:,[10,15]].groupby('Transported').count()
        print(count)
        print("Transported 실패 비율 ",count.iloc[0,:]/(count.iloc[0,:] + count.iloc[1,:]))
    elif col_name == 'RoomService':
        count = df_per.iloc[:,[9,15]].groupby('Transported').count()
        print(count)
        print("Transported 실패 비율 ",count.iloc[0,:]/(count.iloc[0,:] + count.iloc[1,:]))
    elif col_name == 'ShoppingMall':
        count = df_per.iloc[:,[11,15]].groupby('Transported').count()
        print(count)
        print("Transported 실패 비율 ",count.iloc[0,:]/(count.iloc[0,:] + count.iloc[1,:]))
    elif col_name == 'Spa':
        count = df_per.iloc[:,[12,15]].groupby('Transported').count()
        print(count)
        print("Transported 실패 비율 ",count.iloc[0,:]/(count.iloc[0,:] + count.iloc[1,:]))

In [86]:
    
per_count(.25, 'FoodCourt')
per_count(.50, 'FoodCourt')
per_count(.60, 'FoodCourt')
per_count(.75, 'FoodCourt')

             FoodCourt
Transported
0                 1442
1                  977
Transported 실패 비율  FoodCourt    0.596114
dtype: float64
             FoodCourt
Transported
0                  849
1                  762
Transported 실패 비율  FoodCourt    0.527002
dtype: float64
             FoodCourt
Transported
0                  646
1                  644
Transported 실패 비율  FoodCourt    0.500775
dtype: float64
             FoodCourt
Transported
0                  354
1                  452
Transported 실패 비율  FoodCourt    0.439206
dtype: float64

In [87]:
    
per_count(.25, 'RoomService')
per_count(.50, 'RoomService')
per_count(.60, 'RoomService')
per_count(.75, 'RoomService')

             RoomService
Transported
0                   1782
1                    559
Transported 실패 비율  RoomService    0.761213
dtype: float64
             RoomService
Transported
0                   1266
1                    292
Transported 실패 비율  RoomService    0.81258
dtype: float64
             RoomService
Transported
0                   1035
1                    213
Transported 실패 비율  RoomService    0.829327
dtype: float64
             RoomService
Transported
0                    664
1                    115
Transported 실패 비율  RoomService    0.852375
dtype: float64

In [88]:
    
per_count(.25, 'ShoppingMall')
per_count(.50, 'ShoppingMall')
per_count(.60, 'ShoppingMall')
per_count(.75, 'ShoppingMall')

             ShoppingMall
Transported
0                    1478
1                     779
Transported 실패 비율  ShoppingMall    0.654852
dtype: float64
             ShoppingMall
Transported
0                     885
1                     620
Transported 실패 비율  ShoppingMall    0.58804
dtype: float64
             ShoppingMall
Transported
0                     661
1                     543
Transported 실패 비율  ShoppingMall    0.549003
dtype: float64
             ShoppingMall
Transported
0                     367
1                     388
Transported 실패 비율  ShoppingMall    0.486093
dtype: float64

In [89]:
    
per_count(.25, 'Spa')
per_count(.50, 'Spa')
per_count(.60, 'Spa')
per_count(.75, 'Spa')

              Spa
Transported
0            1880
1             647
Transported 실패 비율  Spa    0.743965
dtype: float64
              Spa
Transported
0            1341
1             344
Transported 실패 비율  Spa    0.795846
dtype: float64
              Spa
Transported
0            1090
1             258
Transported 실패 비율  Spa    0.808605
dtype: float64
             Spa
Transported
0            680
1            163
Transported 실패 비율  Spa    0.806643
dtype: float64

In [44]:
food_zero = df_sortFood[df_sortFood['FoodCourt']==0]
food_zero

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,1,0,0,2,39,0,0,0,0,0,0,Maham Ofracculy,0
5058,6893_01,1,1,1,261,1,2,29,0,0,0,0,0,0,Winork Dreamspric,1
5057,6891_01,2,0,3,215,0,2,27,0,725,0,1660,0,0,Treynx Casty,1
5055,6883_01,0,0,6,1120,1,2,26,0,0,0,1,0,398,Evaned Wolferguson,1
5054,6882_02,2,0,4,438,0,2,53,0,0,0,0,0,0,Giamon Dake,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,3588_01,2,0,3,120,0,2,35,0,576,0,459,22,0,Frunad Concy,0
2768,3868_06,0,1,6,630,1,2,42,0,0,0,0,0,0,Line Braymon,1
2573,3588_02,2,0,3,120,0,2,40,0,787,0,88,0,0,Terry Concy,0
2574,3591_01,0,0,4,214,0,2,22,0,0,0,0,0,1609,Elenay Serraynardy,0
2563,3569_01,2,1,5,741,0,2,19,0,0,0,0,0,0,Prah Bine,1

In [45]:
food_zero.iloc[:,[10,15]].groupby('Transported').count()

             FoodCourt
Transported
0                 2232
1                 3239

In [50]:
food_positive.iloc[:,[8,15]].groupby('Transported').count()

              VIP
Transported
0            2083
1            1139

In [73]:
food_positive[food_positive['FoodCourt'] <= food_positive['FoodCourt'].quantile(.75)].iloc[:,[10,15]].groupby('Transported').count()

             FoodCourt
Transported
0                 1729
1                  687

In [70]:
food_positive[food_positive['FoodCourt'] >= food_positive['FoodCourt'].quantile(.90)].iloc[:,[8,10]].groupby('VIP').count()

     FoodCourt
VIP
0          291
1           32

### 저체온증 관련

선장이 식당을 제외한 모든 곳에서 난방과 온수 시스템을 끄라고 지시 -> FoodCourt 와 실종과의 관련성
[해당 링크](https://namu.wiki/w/%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89%ED%98%B8%20%EC%B9%A8%EB%AA%B0%20%EC%82%AC%EA%B3%A0)