In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [5]:
import numpy as np
import pandas as pd

df_train = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')
df_test = pd.read_csv('./kaggle/input/spaceship-titanic/test.csv')

In [10]:
df_test['Transported'] = ""
df_test['testset'] = 1
df_train['testset'] = 0

In [11]:
df_train.columns
df_test.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'testset'],
      dtype='object')

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'testset'],
      dtype='object')

### 0.train test 데이터 concat

In [12]:
df_concat = pd.concat([df_train,df_test],axis=0)

In [13]:
df_concat

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,testset
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,,1
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,,1
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,,1
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,,1
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,,1

### 1. CryoSleep==1 인 경우에 돈을 사용하지 않음

In [14]:
df_concat.loc[(df_concat['CryoSleep']==1) & (df_concat['RoomService'] != 0 ), 'RoomService'] = 0
df_concat.loc[(df_concat['CryoSleep']==1) & (df_concat['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df_concat.loc[(df_concat['CryoSleep']==1) & (df_concat['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df_concat.loc[(df_concat['CryoSleep']==1) & (df_concat['Spa'] != 0 ), 'Spa'] = 0
df_concat.loc[(df_concat['CryoSleep']==1) & (df_concat['VRDeck'] != 0 ), 'VRDeck'] = 0

In [15]:
# 없어졌는지 확인인
# df_concat.loc[df_concat['CryoSleep']==1].groupby('RoomService').count()
# df_concat.loc[df_concat['CryoSleep']==1].groupby('FoodCourt').count()
# df_concat.loc[df_concat['CryoSleep']==1].groupby('ShoppingMall').count()
# df_concat.loc[df_concat['CryoSleep']==1].groupby('Spa').count()
# df_concat.loc[df_concat['CryoSleep']==1].groupby('VRDeck').count()

### 2. Age<=12 인 경우에 돈을 사용하지 않음

In [16]:
df_concat.loc[(df_concat['Age']<=12) & (df_concat['RoomService'] != 0 ), 'RoomService'] = 0
df_concat.loc[(df_concat['Age']<=12) & (df_concat['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df_concat.loc[(df_concat['Age']<=12) & (df_concat['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df_concat.loc[(df_concat['Age']<=12) & (df_concat['Spa'] != 0 ), 'Spa'] = 0
df_concat.loc[(df_concat['Age']<=12) & (df_concat['VRDeck'] != 0 ), 'VRDeck'] = 0

In [17]:
# 없어졌는지 확인
# df_concat.loc[(df_concat['Age']<=12)].groupby('RoomService').count()
# df_concat.loc[(df_concat['Age']<=12)].groupby('FoodCourt').count()
# df_concat.loc[(df_concat['Age']<=12)].groupby('ShoppingMall').count()
# df_concat.loc[(df_concat['Age']<=12)].groupby('Spa').count()
# df_concat.loc[(df_concat['Age']<=12)].groupby('VRDeck').count()

### 3 수치형 데이터 median값으로 대체

In [18]:
# 나이는 61세보다 낮은 값의 중간값으로 대체
df_concat.loc[df_concat['Age'] != df_concat['Age'], 'Age'] = df_concat['Age'][df_concat['Age']<61].median()

#숫자 관련
df_concat.loc[df_concat['RoomService'].isna() == True, 'RoomService'] = df_concat['RoomService'].median()
df_concat.loc[df_concat['FoodCourt'].isna() == True, 'FoodCourt'] = df_concat['FoodCourt'].median()
df_concat.loc[df_concat['ShoppingMall'].isna() == True, 'ShoppingMall'] = df_concat['ShoppingMall'].median()
df_concat.loc[df_concat['Spa'].isna() == True, 'Spa'] = df_concat['Spa'].median()
df_concat.loc[df_concat['VRDeck'].isna() == True, 'VRDeck'] = df_concat['VRDeck'].median()

In [19]:
df_concat.insert(12,'TotalSpend',df_concat['RoomService']+df_concat['FoodCourt']+
df_concat['ShoppingMall']+df_concat['Spa']+df_concat['VRDeck'])

In [21]:
# null값 확인
df_concat.isnull().sum()

PassengerId       0
HomePlanet      288
CryoSleep       310
Cabin           299
Destination     274
Age               0
VIP             296
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
ToallSpend        0
Name            294
Transported       0
testset           0
dtype: int64

In [31]:
# train, test 합치고 수치형 데이터 null값으로 대체한 데이터프레임 저장
df_concat.to_csv('./kaggle/input/spaceship-titanic/df_concat.csv',index=False)