In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [6]:
import numpy as np
import pandas as pd

# df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')
# df = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')
df = pd.read_csv('./kaggle/input/spaceship-titanic/test_update01.csv')

In [8]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_num', 'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name'],
      dtype='object')

### CryoSleep==1 인 경우에 돈을 사용하지 않음

In [9]:
df.loc[(df['CryoSleep']==1) & (df['RoomService'] != 0 ), 'RoomService'] = 0
df.loc[(df['CryoSleep']==1) & (df['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df.loc[(df['CryoSleep']==1) & (df['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df.loc[(df['CryoSleep']==1) & (df['Spa'] != 0 ), 'Spa'] = 0
df.loc[(df['CryoSleep']==1) & (df['VRDeck'] != 0 ), 'VRDeck'] = 0

df.to_csv('./kaggle/input/spaceship-titanic/test_CryoSleep_0.csv', index=False)

In [10]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/test_CryoSleep_0.csv')

df.loc[df['CryoSleep']==1].groupby('RoomService').count()
# df.loc[df['CryoSleep']==1].groupby('FoodCourt').count()
# df.loc[df['CryoSleep']==1].groupby('ShoppingMall').count()
# df.loc[df['CryoSleep']==1].groupby('Spa').count()
# df.loc[df['CryoSleep']==1].groupby('VRDeck').count()

,PassengerId,HomePlanet,CryoSleep,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,...,Cabin_num,Cabin_port,Destination,Age,VIP,FoodCourt,ShoppingMall,Spa,VRDeck,Name
RoomService,,,,,,,,,,,,,,,,,,,,,
0.0,1544,1516,1544,1544,1544,1544,1544,1544,1544,1544,...,1544,1544,1512,1512,1515,1544,1544,1544,1544,1508

### Age<=12 인 경우에 돈을 사용하지 않음

In [11]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/test_CryoSleep_0.csv')
df.loc[(df['Age']==1) & (df['RoomService'] != 0 ), 'RoomService'] = 0
# df.loc[(df['Age']<=12) & (df['RoomService'] != 0 )].groupby('RoomService').count()
# df.loc[(df['Age']<=12) & (df['FoodCourt'] != 0 )].groupby('FoodCourt').count()
# df.loc[(df['Age']<=12) & (df['ShoppingMall'] != 0 )].groupby('ShoppingMall').count()
# df.loc[(df['Age']<=12) & (df['Spa'] != 0 )].groupby('Spa').count()
# df.loc[(df['Age']<=12) & (df['VRDeck'] != 0 )].groupby('VRDeck').count()

In [12]:
df.loc[(df['Age']<=12) & (df['RoomService'] != 0 ), 'RoomService'] = 0
df.loc[(df['Age']<=12) & (df['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df.loc[(df['Age']<=12) & (df['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df.loc[(df['Age']<=12) & (df['Spa'] != 0 ), 'Spa'] = 0
df.loc[(df['Age']<=12) & (df['VRDeck'] != 0 ), 'VRDeck'] = 0

df.to_csv('./kaggle/input/spaceship-titanic/test_Agelow12.csv', index=False)

In [15]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/test_Agelow12.csv')
df01 = pd.read_csv('./kaggle/input/spaceship-titanic/test.csv')
# df.loc[(df['Age']<=12)].groupby('RoomService').count()
# df.loc[(df['Age']<=12)].groupby('FoodCourt').count()
# df.loc[(df['Age']<=12)].groupby('ShoppingMall').count()
# df.loc[(df['Age']<=12)].groupby('Spa').count()
# df.loc[(df['Age']<=12)].groupby('VRDeck').count()
df.isnull().sum()
df01.isnull().sum()
# null값 감소

PassengerId      0
HomePlanet      87
CryoSleep       93
Cabin_A          0
Cabin_B          0
Cabin_C          0
Cabin_D          0
Cabin_E          0
Cabin_F          0
Cabin_G          0
Cabin_T          0
Cabin_num        0
Cabin_port       0
Destination     92
Age             91
VIP             93
RoomService     55
FoodCourt       65
ShoppingMall    60
Spa             52
VRDeck          43
Name            94
dtype: int64

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64