In [29]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [1]:
import numpy as np
import pandas as pd

# df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')
df = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')

In [2]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

### CryoSleep==1 인 경우에 돈을 사용하지 않음

In [12]:
df.loc[(df['CryoSleep']==1) & (df['RoomService'] != 0 ), 'RoomService'] = 0
df.loc[(df['CryoSleep']==1) & (df['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df.loc[(df['CryoSleep']==1) & (df['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df.loc[(df['CryoSleep']==1) & (df['Spa'] != 0 ), 'Spa'] = 0
df.loc[(df['CryoSleep']==1) & (df['VRDeck'] != 0 ), 'VRDeck'] = 0

df.to_csv('./kaggle/input/spaceship-titanic/train_CryoSleep_0.csv', index=False)

In [18]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/train_CryoSleep_0.csv')

# df.loc[df['CryoSleep']==1].groupby('RoomService').count()
# df.loc[df['CryoSleep']==1].groupby('FoodCourt').count()
# df.loc[df['CryoSleep']==1].groupby('ShoppingMall').count()
# df.loc[df['CryoSleep']==1].groupby('Spa').count()
# df.loc[df['CryoSleep']==1].groupby('VRDeck').count()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,Name,Transported
VRDeck,,,,,,,,,,,,,
0.0,3037,2962,3037,2953,2989,2955,2962,3037,3037,3037,3037,2975,3037

### Age<=12 인 경우에 돈을 사용하지 않음

In [36]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')
# df.loc[(df['Age']==1) & (df['RoomService'] != 0 ), 'RoomService'] = 0
# df.loc[(df['Age']<=12) & (df['RoomService'] != 0 )].groupby('RoomService').count()
# df.loc[(df['Age']<=12) & (df['FoodCourt'] != 0 )].groupby('FoodCourt').count()
# df.loc[(df['Age']<=12) & (df['ShoppingMall'] != 0 )].groupby('ShoppingMall').count()
# df.loc[(df['Age']<=12) & (df['Spa'] != 0 )].groupby('Spa').count()
# df.loc[(df['Age']<=12) & (df['VRDeck'] != 0 )].groupby('VRDeck').count()

In [37]:
df.loc[(df['Age']<=12) & (df['RoomService'] != 0 ), 'RoomService'] = 0
df.loc[(df['Age']<=12) & (df['FoodCourt'] != 0 ), 'FoodCourt'] = 0
df.loc[(df['Age']<=12) & (df['ShoppingMall'] != 0 ), 'ShoppingMall'] = 0
df.loc[(df['Age']<=12) & (df['Spa'] != 0 ), 'Spa'] = 0
df.loc[(df['Age']<=12) & (df['VRDeck'] != 0 ), 'VRDeck'] = 0

df.to_csv('./kaggle/input/spaceship-titanic/train_Agelow12.csv', index=False)

In [41]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/train_Agelow12.csv')
df01 = pd.read_csv('./kaggle/input/spaceship-titanic/train.csv')
# df.loc[(df['Age']<=12)].groupby('RoomService').count()
# df.loc[(df['Age']<=12)].groupby('FoodCourt').count()
# df.loc[(df['Age']<=12)].groupby('ShoppingMall').count()
# df.loc[(df['Age']<=12)].groupby('Spa').count()
# df.loc[(df['Age']<=12)].groupby('VRDeck').count()
df.isnull().sum()
df01.isnull().sum()
# null값 감소

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     161
FoodCourt       171
ShoppingMall    188
Spa             169
VRDeck          164
Name            200
Transported       0
dtype: int64

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64