### Totalspend 추가

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('./kaggle/input/spaceship-titanic/train_update.csv')

In [6]:
df = df.astype({'HomePlanet':'float','CryoSleep':'float','Cabin_num':'float','Cabin_port':'float',
'Destination':'float','Age':'float','VIP':'float','RoomService':'float','FoodCourt':'float'
,'ShoppingMall':'float','Spa':'float','VRDeck':'float','Transported':'float',
'Cabin_A':'float','Cabin_B':'float','Cabin_C':'float','Cabin_D':'float','Cabin_E':'float','Cabin_F':'float',
'Cabin_G':'float','Cabin_T':'float','TotalSpend':'float'
})

In [7]:
# df.info()
df.drop(['PassengerId','Transported','Name'],axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8494 non-null   float64
 1   CryoSleep     8494 non-null   float64
 2   Cabin_A       8494 non-null   float64
 3   Cabin_B       8494 non-null   float64
 4   Cabin_C       8494 non-null   float64
 5   Cabin_D       8494 non-null   float64
 6   Cabin_E       8494 non-null   float64
 7   Cabin_F       8494 non-null   float64
 8   Cabin_G       8494 non-null   float64
 9   Cabin_T       8494 non-null   float64
 10  Cabin_num     8494 non-null   float64
 11  Cabin_port    8494 non-null   float64
 12  Destination   8494 non-null   float64
 13  Age           8494 non-null   float64
 14  VIP           8494 non-null   float64
 15  RoomService   8494 non-null   float64
 16  FoodCourt     8494 non-null   float64
 17  ShoppingMall  8494 non-null   float64
 18  Spa           8494 non-null   float64
 19  VRDeck        8494 non-null   float64
 20  TotalSpend    8494 non-null   float64
dtypes: float64(21)
memory usage: 1.4 MB

In [4]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_num', 'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported'],
      dtype='object')

In [5]:
df['TotalSpend'] = df['RoomService'] + df['FoodCourt']+ df['ShoppingMall'] + df['Spa'] + df['VRDeck']

In [8]:
df.columns
df = df[['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin_A', 'Cabin_B',
       'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_T',
       'Cabin_num', 'Cabin_port', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'TotalSpend','Name','Transported']]

df.to_csv('./kaggle/input/spaceship-titanic/train_update.csv', index=False)