In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
# 모델 로드
import numpy as np
import pandas as pd
import joblib

model_path = './' + 'modelsave/' +'train_update_median' +'.model'
model = joblib.load(open(model_path,'rb'))

In [3]:
df = pd.read_csv('./kaggle/input/spaceship-titanic/test_update02.csv')
# df01 = pd.read_csv('./kaggle/input/spaceship-titanic/train_update_median.csv')
# df01.columns
df['Transported'] = ""

In [4]:
pred = model.predict(df.drop(['PassengerId','Name','Transported'],axis=1))
df['Transported'] = pred
# df.head()
df = df.replace({0:'False',1:'True'})
df01 = df[['PassengerId','Transported']]

In [5]:
# 0 -> false 1->True
df_sub = pd.read_csv('./kaggle/input/spaceship-titanic/sample_submission.csv')
df_sub = df_sub.drop(['Transported'],axis=1)
df01

     PassengerId Transported
0        0013_01       False
1        0018_01       False
2        0019_01        True
3        0021_01       False
4        0023_01       False
...          ...         ...
4272     3356_01       False
4273     6420_01       False
4274     1623_01       False
4275     2236_01        True
4276     4412_01       False

[4277 rows x 2 columns]

In [6]:
df_sub1 = pd.merge(df_sub, df01, how='outer', on='PassengerId')
df_sub1.isnull().sum()
# df_sub1 = df_sub1.fillna('False')
# df_sub1.isnull().sum()

PassengerId    0
Transported    0
dtype: int64

In [7]:
df_sub1.to_csv('./submission.csv',index=False)

In [8]:
test = pd.read_csv('./submission.csv')
test.isnull().sum()

PassengerId    0
Transported    0
dtype: int64