In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv('C:/ds_work/source_code/Project_DS/data/train_HomePlanetNull_update.csv')
df_train = df
df_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1.0,0.0,1.0,0.0,0.0,2.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0
1,0002_01,0.0,0.0,5.0,0.0,1.0,2.0,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0
2,0003_01,1.0,0.0,0.0,0.0,1.0,2.0,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0
3,0003_02,1.0,0.0,0.0,0.0,1.0,2.0,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0
4,0004_01,0.0,0.0,5.0,1.0,1.0,2.0,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9084_01,2.0,0.0,4.0,582.0,0.0,2.0,25.0,0.0,1258.0,0.0,22.0,19.0,0.0,Jurs Mone,0.0
8689,9194_01,1.0,0.0,4.0,603.0,1.0,0.0,53.0,0.0,0.0,4017.0,0.0,13.0,3147.0,NaN,0.0
8690,9248_01,2.0,0.0,5.0,1792.0,1.0,0.0,38.0,NaN,28.0,1208.0,973.0,207.0,0.0,Gian Perle,1.0
8691,9257_01,2.0,0.0,5.0,1892.0,0.0,2.0,13.0,0.0,39.0,0.0,1085.0,24.0,0.0,Ties Apple,0.0
8692,9274_01,0.0,1.0,6.0,1508.0,0.0,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,1.0

In [3]:
df_train.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Cabin_num       199
Cabin_port      199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [10]:
# df_FoodCourt =  df_train중에서 FoodCourt null값이 존재하는 열만 추출 
# -> 훈련된 모델의 값으로 다시 채울 예정
df_FoodCourt = df_train[df_train['FoodCourt'].isnull()]
#df_train 중에서 FoodCourt 의 null값이 존재하는 열만 추출 -> 추후 훈련할 데이터프레임
df_train01 = df_train.dropna(subset=['FoodCourt'])
# df_train
df_train[df_train['FoodCourt'].isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
94,0103_01,0.0,0.0,5.0,24.0,1.0,2.0,24.0,0.0,0.0,NaN,0.0,0.0,17.0,Arlen Mclainez,1.0
215,0232_01,0.0,1.0,6.0,36.0,1.0,1.0,27.0,0.0,0.0,NaN,0.0,0.0,0.0,Nica Bakerrison,0.0
357,0405_01,0.0,0.0,5.0,89.0,0.0,0.0,17.0,0.0,177.0,NaN,0.0,310.0,7.0,Denis Flowensley,0.0
375,0427_01,1.0,0.0,4.0,26.0,0.0,2.0,31.0,0.0,417.0,NaN,7185.0,562.0,792.0,Algor Efulows,1.0
443,0498_01,1.0,1.0,NaN,NaN,NaN,0.0,27.0,0.0,0.0,NaN,0.0,0.0,0.0,Batomam Preent,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,9034_04,1.0,0.0,3.0,288.0,0.0,2.0,60.0,0.0,0.0,NaN,947.0,668.0,1.0,NaN,1.0
8340,9116_01,0.0,0.0,5.0,1868.0,0.0,2.0,26.0,0.0,0.0,NaN,0.0,1.0,48.0,Candra Franton,1.0
8425,9197_04,1.0,0.0,2.0,308.0,0.0,0.0,30.0,0.0,1569.0,NaN,0.0,NaN,2252.0,Phecca Platch,0.0
8557,2992_01,0.0,0.0,5.0,570.0,1.0,1.0,49.0,0.0,0.0,NaN,0.0,160.0,528.0,Dont Sterreray,0.0
8572,3790_01,0.0,1.0,6.0,620.0,0.0,2.0,13.0,0.0,0.0,NaN,0.0,NaN,0.0,Trick Meyersones,1.0

In [11]:
# train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_train01.drop(['PassengerId','FoodCourt','Name'],axis=1),df_train01['FoodCourt'], test_size=0.2, random_state=42)

# scaler = StandardScaler().fit(X_train)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)
X_train.shape
y_train.shape
X_test.shape
y_test.shape

(6808, 13)

(6808,)

(1702, 13)

(1702,)

In [12]:
#XGBoost1
import xgboost as xgb
import pandas as pd
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score

model = xgb.XGBRegressor(early_stopping_rounds=10)
eval_set = [(X_test, y_test)]
model.fit(X_train, y_train, eval_set=eval_set, verbose=False)#, verbose=True

pred = model.predict(X_test)
# acc = accuracy_score(y_test,pred)
# acc

# from sklearn.metrics import confusion_matrix
# import scikitplot as skplt

# pred = model.predict(X_test)
# # 실제 , 예측
# cm = confusion_matrix(y_test, pred)
# print('confusion_matrix : \n', cm)

# skplt.metrics.plot_confusion_matrix(y_test,pred,figsize=(8,6))
# plt.show()

# cl_report = metrics.classification_report(y_test,pred)
# print('리포트:\n',cl_report)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=10, enable_categorical=False,
             eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
             grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.300000012, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [13]:
# df_01 은 df_train 중에서 FoodCourt 의 값이 null인 경우의 데이터프레임
df_FoodCourt_null = df_FoodCourt.drop('FoodCourt',axis=1)
df_FoodCourt_null

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,ShoppingMall,Spa,VRDeck,Name,Transported
94,0103_01,0.0,0.0,5.0,24.0,1.0,2.0,24.0,0.0,0.0,0.0,0.0,17.0,Arlen Mclainez,1.0
215,0232_01,0.0,1.0,6.0,36.0,1.0,1.0,27.0,0.0,0.0,0.0,0.0,0.0,Nica Bakerrison,0.0
357,0405_01,0.0,0.0,5.0,89.0,0.0,0.0,17.0,0.0,177.0,0.0,310.0,7.0,Denis Flowensley,0.0
375,0427_01,1.0,0.0,4.0,26.0,0.0,2.0,31.0,0.0,417.0,7185.0,562.0,792.0,Algor Efulows,1.0
443,0498_01,1.0,1.0,NaN,NaN,NaN,0.0,27.0,0.0,0.0,0.0,0.0,0.0,Batomam Preent,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,9034_04,1.0,0.0,3.0,288.0,0.0,2.0,60.0,0.0,0.0,947.0,668.0,1.0,NaN,1.0
8340,9116_01,0.0,0.0,5.0,1868.0,0.0,2.0,26.0,0.0,0.0,0.0,1.0,48.0,Candra Franton,1.0
8425,9197_04,1.0,0.0,2.0,308.0,0.0,0.0,30.0,0.0,1569.0,0.0,NaN,2252.0,Phecca Platch,0.0
8557,2992_01,0.0,0.0,5.0,570.0,1.0,1.0,49.0,0.0,0.0,0.0,160.0,528.0,Dont Sterreray,0.0
8572,3790_01,0.0,1.0,6.0,620.0,0.0,2.0,13.0,0.0,0.0,0.0,NaN,0.0,Trick Meyersones,1.0

In [15]:
# 훈련된 xgboost모델을 사용해서 df_homeplanet_null의 HomePlanet값을 예측
pred = model.predict(df_FoodCourt_null.drop(['PassengerId','Name'],axis=1))
pred

array([ 3.82584106e+02,  3.83493233e+00,  1.24054855e+02,  5.01917419e+02,
        1.69987106e+02,  1.64037262e+02,  1.07762672e+02,  5.22718964e+01,
        1.24054855e+02, -3.68775845e-01, -3.68775845e-01,  1.65784775e+02,
       -4.21924639e+00,  1.07762672e+02,  2.54265991e+02,  1.13139755e+02,
        3.83493233e+00, -3.68775845e-01,  8.99067917e+01, -3.68775845e-01,
       -3.68775845e-01,  1.07762672e+02,  1.78388000e+02,  3.82584106e+02,
        1.24054855e+02, -3.84240866e+00,  3.83493233e+00,  2.89179004e+03,
        4.21177006e+00,  2.97537964e+03, -3.68775845e-01,  1.73838959e+02,
       -3.68775845e-01,  7.46600418e+01,  3.83493233e+00,  1.73838959e+02,
        9.59725876e+01,  3.83493233e+00,  1.27121252e+03,  1.73838959e+02,
        3.45349762e+02,  1.10361560e+03,  9.59725876e+01, -4.21924639e+00,
        3.83493233e+00,  1.24054855e+02, -1.30574408e+01, -1.34342785e+01,
        1.24054855e+02, -3.68775845e-01,  1.68529755e+02,  3.83493233e+00,
        1.07762672e+02,  4.21177006e+00,  1.24054855e+02,  9.59725876e+01,
       -3.68775845e-01,  5.65171967e+01,  1.13139755e+02,  3.83493233e+00,
       -2.58187695e+01,  1.18658411e+03,  3.83493233e+00,  1.09518158e+02,
        1.70333817e+02,  1.21237320e+02,  1.64037262e+02,  1.24054855e+02,
        9.79609756e+01, -3.68775845e-01, -3.68775845e-01, -1.45580330e+01,
        7.23209839e+01,  1.78388000e+02, -4.21924639e+00,  1.31342798e+03,
        2.44464294e+02,  3.75619736e+01,  3.71976715e+02,  1.78388000e+02,
        8.61708984e+01,  5.65171967e+01,  8.61708984e+01, -3.68775845e-01,
        5.22718964e+01, -3.84240866e+00,  3.65058081e+03,  2.14875671e+02,
        4.11205635e+01, -4.21924639e+00,  4.50793066e+03,  3.83493233e+00,
       -2.58187695e+01, -3.68775845e-01,  9.76780930e+01, -3.84240866e+00,
        9.62259483e+00,  1.70333817e+02,  1.64037262e+02,  1.73838959e+02,
        5.80617256e+01,  3.81343193e+01,  1.56145264e+02,  3.83493233e+00,
        9.59725876e+01,  2.54265991e+02,  1.13139755e+02,  3.92385803e+02,
        3.92385803e+02,  5.22718964e+01,  8.61708984e+01,  1.64849594e+02,
        3.83493233e+00, -3.68775845e-01,  1.57394165e+03,  1.90507599e+02,
        1.18690514e+02, -4.21924639e+00,  6.29769482e+03,  3.83493233e+00,
        3.82584106e+02,  3.83493233e+00, -3.68775845e-01, -3.68775845e-01,
       -3.68775845e-01, -3.68775845e-01,  3.83493233e+00,  1.41394531e+02,
        1.24054855e+02,  1.03135645e+03,  3.14054565e+02,  4.21177006e+00,
        1.53252401e+01,  1.64037262e+02,  8.61708984e+01,  3.83493233e+00,
       -3.68775845e-01,  3.57903052e+03, -2.58187695e+01,  1.73838959e+02,
       -3.68775845e-01,  1.64037262e+02,  1.78388000e+02,  3.83493233e+00,
        1.64037262e+02,  9.59725876e+01,  1.24054855e+02,  1.64037262e+02,
       -4.21924639e+00,  3.83493233e+00, -4.21924639e+00,  8.99067917e+01,
        3.83493233e+00,  8.79184036e+01,  3.83493233e+00,  1.88189697e+02,
        1.73838959e+02,  1.73838959e+02,  1.68529755e+02, -3.68775845e-01,
        1.73838959e+02,  4.11205635e+01,  5.79785652e+01, -4.21924639e+00,
        2.67644604e+03,  8.51873413e+02, -2.58187695e+01, -3.68775845e-01,
        2.50167456e+03,  3.92385803e+02,  1.88189697e+02,  1.07762672e+02,
        1.24054855e+02,  6.99563110e+02,  8.79184036e+01, -4.21924639e+00,
        1.73838959e+02,  3.83493233e+00,  2.36149292e+03,  3.92385803e+02,
        3.07774634e+03,  1.73838959e+02,  3.83493233e+00], dtype=float32)

In [16]:

# 예측된 값을 다시 df_homeplanet으로 삽입(null값 채우기)
df_FoodCourt['FoodCourt'] = pred
df_FoodCourt

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4220\610484516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_FoodCourt['FoodCourt'] = pred

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
94,0103_01,0.0,0.0,5.0,24.0,1.0,2.0,24.0,0.0,0.0,382.584106,0.0,0.0,17.0,Arlen Mclainez,1.0
215,0232_01,0.0,1.0,6.0,36.0,1.0,1.0,27.0,0.0,0.0,3.834932,0.0,0.0,0.0,Nica Bakerrison,0.0
357,0405_01,0.0,0.0,5.0,89.0,0.0,0.0,17.0,0.0,177.0,124.054855,0.0,310.0,7.0,Denis Flowensley,0.0
375,0427_01,1.0,0.0,4.0,26.0,0.0,2.0,31.0,0.0,417.0,501.917419,7185.0,562.0,792.0,Algor Efulows,1.0
443,0498_01,1.0,1.0,NaN,NaN,NaN,0.0,27.0,0.0,0.0,169.987106,0.0,0.0,0.0,Batomam Preent,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,9034_04,1.0,0.0,3.0,288.0,0.0,2.0,60.0,0.0,0.0,2361.492920,947.0,668.0,1.0,NaN,1.0
8340,9116_01,0.0,0.0,5.0,1868.0,0.0,2.0,26.0,0.0,0.0,392.385803,0.0,1.0,48.0,Candra Franton,1.0
8425,9197_04,1.0,0.0,2.0,308.0,0.0,0.0,30.0,0.0,1569.0,3077.746338,0.0,NaN,2252.0,Phecca Platch,0.0
8557,2992_01,0.0,0.0,5.0,570.0,1.0,1.0,49.0,0.0,0.0,173.838959,0.0,160.0,528.0,Dont Sterreray,0.0
8572,3790_01,0.0,1.0,6.0,620.0,0.0,2.0,13.0,0.0,0.0,3.834932,0.0,NaN,0.0,Trick Meyersones,1.0

In [17]:

# null값을 채운 dataframe과 df_train01 합치기 
df_update = pd.concat([df_train01,df_FoodCourt],axis=0)
df_update

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_num,Cabin_port,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1.0,0.0,1.0,0.0,0.0,2.0,39.0,0.0,0.0,0.000000,0.0,0.0,0.0,Maham Ofracculy,0.0
1,0002_01,0.0,0.0,5.0,0.0,1.0,2.0,24.0,0.0,109.0,9.000000,25.0,549.0,44.0,Juanna Vines,1.0
2,0003_01,1.0,0.0,0.0,0.0,1.0,2.0,58.0,1.0,43.0,3576.000000,0.0,6715.0,49.0,Altark Susent,0.0
3,0003_02,1.0,0.0,0.0,0.0,1.0,2.0,33.0,0.0,0.0,1283.000000,371.0,3329.0,193.0,Solam Susent,0.0
4,0004_01,0.0,0.0,5.0,1.0,1.0,2.0,16.0,0.0,303.0,70.000000,151.0,565.0,2.0,Willy Santantines,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,9034_04,1.0,0.0,3.0,288.0,0.0,2.0,60.0,0.0,0.0,2361.492920,947.0,668.0,1.0,NaN,1.0
8340,9116_01,0.0,0.0,5.0,1868.0,0.0,2.0,26.0,0.0,0.0,392.385803,0.0,1.0,48.0,Candra Franton,1.0
8425,9197_04,1.0,0.0,2.0,308.0,0.0,0.0,30.0,0.0,1569.0,3077.746338,0.0,NaN,2252.0,Phecca Platch,0.0
8557,2992_01,0.0,0.0,5.0,570.0,1.0,1.0,49.0,0.0,0.0,173.838959,0.0,160.0,528.0,Dont Sterreray,0.0
8572,3790_01,0.0,1.0,6.0,620.0,0.0,2.0,13.0,0.0,0.0,3.834932,0.0,NaN,0.0,Trick Meyersones,1.0

In [18]:
df_update[df_update['FoodCourt'].isnull()]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Cabin_num, Cabin_port, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Transported]
Index: []

In [19]:
df_update.to_csv('C:/ds_work/source_code/Project_DS/data/train_HomePlanetNull_update.csv', index=False)